.box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $base-lg * 3; // 24px
  margin-block: ($base-lg * 5) $base-lg * 2; // 40px 16px
  padding-inline: $base-lg * 6; // 48px
  @include media(">lg") {
    gap: $base-sm * 3; // 12px
    flex-direction: row-reverse;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid $primary-color-1;
    border-radius: $base-lg * 2; // 16px
    @include media(">lg") {
      justify-content: flex-start;
    }
    &--benefits {
      @include media(">lg") {
        max-width: $base-lg * 30; // 240px
      }
    }
  }
  &__title {
    &--main {
      position: relative;
      transform: translateY(-1 * ($base-lg * 2)); // -16px
      padding: 0 ($base-lg * 8) 0 ($base-lg * 3); // 0 64px 0 20px
      background: $white;
      font: $heading-h2-size-l $font-secondary-1;
      color: $primary-color-1;
      letter-spacing: 0;
      line-height: $base-lg * 5; // 40px
      text-align: center;
      @include media(">lg") {
        transform: translate(
          (-1 * $base-lg * 24),
          (-1 * $base-lg * 2)
        ); // -192px -16px
      }
    }
    &--benefits {
      position: relative;
      transform: translateY(-1 * $base-lg); // -8px
      padding: 0 $base-sm;
      background: $white;
      font: 200 $font-size-lg $font-primary;
      color: $outer-space;
      letter-spacing: 0;
      line-height: $base-lg * 2;
      span {
        font-weight: bold;
        color: $primary-color-1;
      }
    }
  }
  &__list {
    padding: 0 ($base-lg * 3); // 0 24px
    overflow-y: auto;
    text-align: center;
    max-height: $base-lg * 23;
    &--includes {
      @include media(">lg") {
        text-align: left;
      }
    }
    &--benefits {
      padding-top: $base-lg * 2; // 16px
    }
  }
  &__item {
    padding-bottom: $base-sm * 3; // 12px
    font: 300 $font-size-sm $font-primary;
    letter-spacing: 0;
    line-height: $base-sm * 3; // 12px
  }
  &__horizontal-line {
    position: absolute;
    display: none;
    box-sizing: border-box;
    min-height: 1px;
    min-width: $base-lg * 3;
    border-bottom: 1px solid #ff7e7e;
    @include media(">lg") {
      display: block;
      transform: translate(
        -1 * $base-lg * 87,
        $base-lg * 15
      ); // translate(-696px, 120px);
    }
  }
  &__icon {
    @include media(">md") {
      display: none;
    }
  }
}
