.breadcrumb{
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    display: none;
    padding-inline-end: $base-lg * 17; // 136px;
    @include media('>md'){
        display: block;
    }
    &__list{
        display: flex;
        gap: 2px;
    }
    &__item{
        font: $font-size-base $font-primary;
        letter-spacing: 0;
        line-height: $base-lg*2; // 16px
        //text-align: center;
    }
    &--active{
        font: bold $font-size-base $font-primary;
        letter-spacing: 0;
        line-height: $base-lg*2; // 16px
        text-align: center;
    }
    &--bg-dark{
        color: $white;
    }
    &--bg-white{
        color: $outer-space;
    }
}