.breadcrumb{
    display: none;
    @include media('>md'){
        display: block;
    }
    &__init{
        color: $outer-space;
        font-family: $font-primary;
        font-size: $font-size-base;
        letter-spacing: 0;
        line-height: 16px;
        //text-align: center;
    }&__item{
        color: $outer-space;
        font-family: $font-primary;
        font-size: $font-size-base;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 16px;
        text-align: center;
    }
}