.breadcrumb{
    display: none;
    @include media('>md'){
        display: block;
    }
    &__init{
        font: $font-size-base $font-primary;
        color: $outer-space;
        letter-spacing: 0;
        line-height: $base-lg*2; // 16px
        //text-align: center;
    }&__item{
        font: bold $font-size-base $font-primary;
        color: $outer-space;
        letter-spacing: 0;
        line-height: $base-lg*2; // 16px
        text-align: center;
    }
}