.btn {
  &__primary {
    &-small {
      display: flex;
      justify-content: center;
      gap: $base-sm; // 4px
      padding-block: $base-sm; // 4px
      padding-inline: $base-lg * 2; //16px
      border-radius: $border-radius-sm; // 2px
      font: $font-size-lg $font-primary; // 16px Roboto
      //font-family: $font-primary;
      //font-size: $font-size-lg;
      line-height: $base-lg * 2; // 16px
      text-align: center;
    }
    &-large {
      display: flex;
      justify-content: center;
      padding-block: $base-sm * 3; // 12px
      padding-inline: $base-lg * 4; // 24px
      border-radius: $border-radius-base;
      font: $font-size-sm $font-secondary-2; // 12px Jost
      line-height: $base-sm * 3; // 12px
      text-align: center;
    }
  }
  &__secondary {
    &-outline {
      //padding: ($base-sm * 3) 0 ($base-sm * 3) $base-lg; // 12px 0 12px 8px
      //padding-inline: $base-sm * 3; // 12px
      border: 1px solid $white;
      border-radius: $border-radius-base;
      font: $font-size-sm $font-primary; // 12px Roboto
      color: $white;
      line-height: $base-lg * 2;
      letter-spacing: 0;
      &:hover{
        background-color: rgba($white, $alpha-20p);
      }
    }
    &-download {
      min-width: $base-sm * 9; // 36px
      min-height: $base-sm * 9; // 36px
      background-color: rgba($outer-space, $alpha-20p);
      font-size: $font-size-lg;
    }
  }
  &__menu {
    font-size: $heading-h2-size-l; //40px
    padding-top: $base-sm; // 4px
    color: $white;
  }
  &__close {
    font-size: $base-lg * 4;
    font-weight: bold;
    color: inherit;
  }
  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $base-lg * 4; // 32px
    min-height: $base-lg * 4; // 32px
    border-radius: $border-radius-circular;
    border: 1px solid $outer-space;
    color: $outer-space, $alpha-40p;
    line-height: 1px;
    &--packages-tab {
      border: 1px solid $black;
      color: $black;
    }
  }
  // Shape
  &--block {
    width: 100%;
  }
  &--circular {
    border-radius: $border-radius-circular;
  }
  // Section
  &--input{
    padding: ($base-sm * 3) 0 ($base-sm * 3) $base-lg; // 12px 0 12px 8px
    text-align: left;
  }
  &--card{
    padding: ($base-sm * 3) ($base-sm * 9); // 12px 36px
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
  }
  // Color
  &--rose {
    background-color: $primary-color-1;
    color: $white;
    &:hover {
      background-color: $primary-color-1-hover;
    }
  }
  &--black {
    background-color: $outer-space;
    color: $white;
    &:hover {
      background-color: $outer-space-hover;
    }
  }
  // &--transparent {
  //   background-color: transparent;
  //   color: $white;
  // }

}

// &__register {
//   //position: fixed
//   padding: 12px 36px;
//   border-radius: $border-radius-base;
//   background-color: $outer-space;
//   color: $white;
//   font-family: $font-secondary-2;
//   font-size: 12px;
//   letter-spacing: 0;
//   line-height: 18px;
//   //width: 366px
//   text-align: center;
//   //z-index: 1
// }
// &__input {
//   padding: 12px;
//   border: 1px solid $white;
//   border-radius: $border-radius-base;
//   font-family: $font-primary;
//   font-size: 12px;
//   color: $white;
//   letter-spacing: 0;
//   line-height: 18px;
// }
