.card {
  &__item {
    display: flex;
    font-family: $font-secondary-2;
  }
  &__cover {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-base;
    width: $base-lg*22; // 176px
    height: $base-lg*15;// 120px
    @include media(">sm") {
      width: $base-lg * 38; // 304px
      height: $base-lg * 25; // 200px
    }
  }
  &__gradient {
    position: absolute;
    width: inherit;
    height: inherit;
    background: linear-gradient(180deg, rgba($black, 0) 0%, $black 100%);
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: $base-sm;
    position: relative;
    transform: translateY($base-lg*12); // 100px
    font-family: $font-secondary-2;
    color: $white;
    @include media(">sm") {
      gap: $base-sm*3;// 12px
      transform: translateY($base-lg*20); // 160px 
    }
  }
  &__packages{
    display: flex;
    align-items: center;
  }
  &__O {
    position: relative;
    transform: translateX(12px);
    color: rgba($white, $alpha-40p);
    font: bold $heading-h1-size-sm $font-secondary-3;
    letter-spacing: 0;
    line-height: $base-sm*9;// 36px
    text-align: center;
    @include media('>md'){
      font-size: $O_size-l;
      transform: translateX($base-sm*9); // 36px
    }
  }
  &__title {
    font: $font-size-sm $font-secondary-2;
    letter-spacing: 0;
    line-height: $base-sm*3; // 12px
    text-align: center;
    @include media(">md") {
      font-size: $font-size-xl;
    }
    &--packages {
      font: $font-size-lg $font-secondary-3;
      //font-weight: 200;
      letter-spacing: 0;
      line-height: $base-lg*2;// 16px
      text-align: center;
      @include media(">md") {
        font-size: $heading-h1-size-xs;
      }
    }
  }
  &__text {
    font: bold $font-size-sm $font-secondary-2;
    //font-weight: 500;
    letter-spacing: 0;
    line-height: $base-sm*3; //12px
    text-align: center;
    @include media(">md") {
      font-size: $font-size-xl;
    }
    &--packages{
      font: bold $font-size-sm $font-secondary-2;
      //font-weight: 500;
      letter-spacing: 0;
      line-height: $base-lg*2; // 16px
      text-align: center;
    }
  }
  &__image {
    height: inherit;
    width: inherit;
  }
  &__background {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: $border-radius-base;
  }
  &--hidden {
    display: none;
    @include media(">lg") {
      display: block;
    }
  }
}
