.card {
  &__item {
    display: flex;
    font-family: $font-jost;
  }
  &__cover {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 120px;
    width: 180px;
    @include media(">sm") {
      height: 204px;
      width: 302px;
    }
  }
  &__gradient {
    position: absolute;
    width: inherit;
    height: inherit;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4px;
    position: relative;
    transform: translateY(100px);
    color: $white;
    font-family: $font-jost;
    @include media('>sm'){
      transform: translateY(166px);
    }
  }
  &__title {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
    text-align: center;
  }
  &__text {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 12px;
    text-align: center;
  }
  &__image {
    width: inherit;
    height: inherit;
  }
  &__background {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  &--hidden{
    display: none;
    @include media(">lg") {
      display: block;
    }
  }
}
