.gallery {
  &__home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, $base-lg * 8); // 64px
    column-gap: 1px;
    row-gap: 1px;
    @include media(">md") {
      grid-template-rows: repeat(12, $base-sm * 11); // 44px
      column-gap: $base-sm;
      row-gap: $base-sm;
      //margin-inline: 16%;
    }
    &-section {
      align-self: center;
      grid-column: 1 / 6;
      grid-row: 1 / 5;
      @include media(">md") {
        padding-block-start: $base-lg * 3; // 24px
        padding-inline: $base-lg * 3 $base-sm * 9; // 24px
        align-self: start;
        justify-self: center;
        grid-column: 1 / 5;
        grid-row: 1 / 8;
      }
    }
    &-container {
      &-1 {
        grid-column: 6 / 9;
        grid-row: 1 / 3;
        @include media(">md") {
          grid-column: 5 / 9;
          grid-row: 1 / 13;
        }
      }
      &-2 {
        grid-column: 9 / 11;
        grid-row: 1 / 2;
        @include media(">md") {
          grid-row: 1 / 6;
        }
      }
      &-3 {
        grid-column: 11 / 13;
        grid-row: 1 / 2;
        @include media(">md") {
          grid-row: 1 / 6;
        }
      }
      &-4 {
        grid-column: 9 / 13;
        grid-row: 2 / 3;
        @include media(">md") {
          grid-row: 6 / 13;
        }
      }
      &-video {
        position: relative;
        overflow: hidden;
        grid-column: 6 / 13;
        grid-row: 3 / 5;
        @include media(">md") {
          grid-column: 1 / 5;
          grid-row: 7 / 13;
        }
        &::after {
          content: "\73";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          justify-content: center;
          align-items: center;
          font: $heading-h1-size-sm $font-icons;
          color: $white;
          z-index: $index-front;
          @include media(">md") {
            font-size: $O_size-l;
          }
        }
      }
    }
    &-description {
      font: 100 $font-size-sm $font-primary;
      color: $outer-space;
      font-weight: 100;
      letter-spacing: 0;
      line-height: $base-sm * 3; // 12px
    }
    &-btn {
      display: none;
      @include media(">md") {
        display: block;
        margin-top: $base-lg * 3;
      }
    }
  }
  &__packages {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, $base-lg * 15); // 120px
    column-gap: 1px;
    row-gap: 1px;
    @include media(">md") {
      grid-template-rows: repeat(2, $base-lg * 21);
      column-gap: $base-sm;
      row-gap: $base-sm;
    }
    &-container {
      &-1 {
        grid-column: 1 / 13;
        grid-row: 1 / 3;
        @include media(">md") {
          grid-column: 1 / 7;
          grid-row: 1 / 3;
        }
      }
      &-2 {
        grid-column: 1 / 13;
        grid-row: 3 / 4;
        @include media(">md") {
          grid-column: 7 / 13;
          grid-row: 1 / 2;
        }
      }
      &-3 {
        grid-column: 1 / 7;
        grid-row: 4 / 5;
        @include media(">md") {
          grid-column: 7 / 10;
          grid-row: 2 / 3;
        }
      }
      &-4 {
        grid-column: 7 / 13;
        grid-row: 4 / 5;
        @include media(">md") {
          grid-column: 10 / 13;
          grid-row: 2 / 3;
        }
      }
    }
  }
  &__item {
    position: relative;
    overflow: hidden;
    &:hover {
      cursor: pointer;
      .gallery__overlay {
        opacity: 1;
        z-index: $index-middle;
      }
      .gallery__image {
        transform: scale(1.1);
        z-index: $index-back;
      }
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: $base-lg * 5; // 40px
    gap: $base-sm;
    justify-content: center;
    // background: linear-gradient(
    //   rgba($black, $alpha-40p),
    //   rgba($black, $alpha-40p)
    // );
    background: linear-gradient(
      180deg,
      rgba($black, 0) 0%,
      rgba($black, $alpha-80p) 100%
    );
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  &__lens {
    font-size: $heading-h1-size-l;
    color: $white;
    line-height: 1px;
    margin-bottom: $base-lg;
  }
  &__title {
    font: bold $font-size-lg $font-secondary-2;
    color: $white;
    letter-spacing: 0;
    line-height: $base-lg * 3; // 24px
    text-align: center;
  }
  &__text {
    font: $font-size-lg $font-secondary-2;
    color: $white;
    letter-spacing: 0;
    line-height: $base-sm * 3; // 12px
    text-align: center;
  }
  &__wrapper {
    height: 100%;
    width: 100%;
  }
  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
  }
}

//   @include media('>sm'){
//     grid-row: 1 / 3;
//   }
//   @include media('>md'){
//     grid-column: 1 / 6;
//     grid-row: 1 / 3;
//   }
// }
// .img1 {
//   grid-column: 6 / 9;
//   grid-row: 1 / 3;
//   width: 90px;
//   height: 136px;
//   @include media('>sm'){
//     grid-row: 1 / 4;
//     height: 460px;
//     width: 186px;
//   }
//   @include media('>sm'){
//     //grid-row: 1 / 4;
//     height: 560px;
//     width: 334px;
//   }

// }
// .img2 {
//   grid-column: 9 / 11;
//   grid-row: 1 / 2;
//   width: 58px;
//   height: 66px;
//   @include media('>sm'){
//     grid-row: 1 / 3;
//     height: 180px;
//     width: 122px;
//   }
// }
// .img3 {
//   grid-column: 11 / 13;
//   grid-row: 1 / 2;
//   width: 58px;
//   height: 66px;
//   @include media('>sm'){
//     grid-row: 1 / 3;
//     height: 180px;
//     width: 122px;
//   }
// }
// .img4 {
//   grid-column: 9 / 13;
//   grid-row: 2 / 3;
//   width: 122px;
//   height: 66px;
//   @include media('>sm'){
//     grid-row: 3 / 4;
//     height: 232px;
//     width: 250px;
//   }
// }
// .cover-video {
//   grid-column: 6 / 13;
//   grid-row: 3 / 4;
//   width: 218px;
//   height: 132px;
//   @include media('>sm'){
//     grid-column: 1 / 6;
//     grid-row: 3 / 4;
//     height: 232px;
//     width: 316px;
//   }
//   @include media('>md'){
//     grid-column: 1 / 6;
//     height: 380px;
//     width: 570px;
//   }
// }
