.hero {
  &__background {
    &--home {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-block: 0 ($base-lg * 3); // 0 24px
      background-image: url("/src/assets/img/home/header-home-estatico.webp");
      background-size: cover;
      background-position: 30%center;
      background-repeat: no-repeat;
      height: 54em; //872px;
    }
    &--packages {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-block: 0 ($base-lg * 3); // 0 24px
      background-image: url("/src/assets/img/interna.webp");
      background-size: cover;
      background-position: 25%center;
      background-repeat: no-repeat;
      height: 34em;
    }
    &--gradient {
      background: linear-gradient(
          180deg,
          rgba(25, 106, 186, 0) 0.06%,
          #196785 100%
        ),
        linear-gradient(0deg, #459dbf 0%, rgba(48, 163, 216, 0) 100%);
    }
  }
  &__home {
    &-main {
      text-align: center;
      @include media(">md") {
        text-align: left;
      }
    }
    &-paragraph {
      margin-top: $base-lg;
      font: $font-size-sm $font-primary;
      letter-spacing: 0;
      line-height: $base-sm * 3; // 12px;
      text-align: center;
      color: $white;
      @include media(">md") {
        font-size: $font-size-base;
      }
    }
    &-text {
      font: $font-size-lg $font-primary;
      color: $white;
      letter-spacing: 0;
      line-height: $base-lg * 2; // 16px
      padding-bottom: $base-lg * 2; // 16px
      //text-align: center
      @include media(">md") {
        padding: $base-lg 0 ($base-lg * 2); // 8px 0 16px
      }
    }
    &-label {
      color: $white;
    }
    &-secondary {
      text-align: center;
      padding: 0 ($base-lg * 3) ($base-sm * 9); // 0 24px 36px
    }
    &-title {
      font: $heading-h1-size-xs $font-secondary-3;
      color: $white;
      letter-spacing: 0;
      line-height: $base-lg * 3; // 24px
      text-align: center;
    }
    &-window {
      @include media(">md") {
        display: flex;
        //flex-direction: column
        justify-content: flex-end;
        margin-inline-end: $base-lg * 16; //128px
        position: relative;
        transform: translate(5em, -6em);
      }
      &--open {
        position: fixed;
        background: $primary-color-1;
        padding: ($base-lg * 8) 0 0; // 64px 0 0
        min-width: 100%;
        min-height: 100%;
        top: 0;
        right: 0;
        z-index: $index-front;
        @include media(">md") {
          display: none;
        }
      }
    }
    &-container {
      display: flex;
    }
    //     &__item
    &-input {
      box-sizing: border-box;
      border: 1px solid $white;
      border-radius: $base-sm;
    }
  }
  &__packages {
    &-wrapper{
      display: flex;
      flex-direction: column;
      @include media('>md'){
        flex-direction: row;
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //background: white;
      //height: 100%;
      margin-block-start: $base-sm;
      gap: $base-sm * 3; // 12px
      @include media(">lg") {
        max-width: $base-lg * 106; // 560px
      }
    }
    &-paragraph {
      font: $font-size-sm $font-primary;
      color: $nevada;
      letter-spacing: 0;
      line-height: $base-sm * 3; // 12px
      text-align: center;
    }
    &-download {
      font: $font-size-base $font-primary;
      color: $nevada;
      letter-spacing: 0;
      line-height: $base-lg * 2; // 16px
      text-align: center;
    }
  }
}

// &__title {
//     font-family: $font-primary;
//     color: $white;
//     font-weight: 600;
//     font-size: 34px;
//     letter-spacing: 0;
//     line-height: 40px;
// }
// &__subtitle {
//     font-family: $font-secondary-1;
//     font-size: 34px;
//     letter-spacing: 0;
//     line-height: 36px;
//     text-align: center;
//     color: $white;
// }

// @include media('>md'){
//     padding: 0px 448px 36px;
// }
// &__container
//     display: flex
//     flex-direction: column
//     justify-content: center
//     align-items: center
//     margin-block: 16px
//     margin-inline: 32px
// &__title
//     font-family: $font-secondary-1
//     font-size: 34px
//     letter-spacing: 0
//     line-height: 36px
//     color: inherit
//     text-align: center
//     color: $white
// &__paragraph
//     font-family: $font-primary
//     font-size: 12px
//     font-weight: 300
//     letter-spacing: 0
//     line-height: 13px
//     text-align: center
//     color: $white
//&__form
