.register {
  display: none;
  @include media(">md") {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
    column-gap: 8px;
    width: 464px;
  }
  &--modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
    column-gap: 8px;
    width: 464px;
  }
  &__label {
    font-family: $font-roboto;
    color: $white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
    padding-bottom: 4px;
    text-align: center;
    @include media(">md") {
      text-align: left;
    }
  }
  &__input {
    color: $white;
    padding: 12px 0 12px 10px;
    background: transparent;
    border: 1px solid $white;
    border-radius: 4px;
    width: 100%;
    &::placeholder {
      color: $white;
      font-family: $font-roboto;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 18px;
    }
  }
  &--mobile {
    display: flex;
    flex-direction: column;
    padding-inline: 40px;
    margin-block-start: 8px;
    gap: 12px;
    @include media(">md") {
      display: none;
    }
  }
}
