.tab {
  padding: 0 $base-lg * 3; // 0 24px
  &__list {
    display: flex;
    justify-content: center;
    gap: $base-sm * 3; // 12px
  }
  &__item {
    font: $font-size-sm $font-secondary-2;
    color: $outer-space;
    letter-spacing: 0;
    line-height: $base-sm * 3;
    &--selected {
      font-family: $font-size-sm $font-secondary-2;
      color: $primary-color-1;
      letter-spacing: 0;
      line-height: $base-sm * 3; // 12px
      &::after {
        content: "";
        display: block;
        border-bottom: 2px solid $primary-color-1;
        padding-top: $base-sm;
        //height: 1px;
      }
    }
  }
  &__arrow {
    display: flex;
    justify-content: space-between;
    position: relative;
    transform: translateY(-1 * ($base-lg * 4)); // -32px
  }
}
