//@import './../base/_variables'

.footer {
  // display: flex
  // flex-direction: column
  // justify-content: center
  // align-items: center
  // gap: 16px
  padding: ($base-lg * 3) 0;
  border-top: 2px solid $charleston-green;
  border-bottom: ($base-lg * 3) solid $charleston-green;
  background: $white;
  font: $font-size-xs $font-primary;
  letter-spacing: 0;
  line-height: $base-sm * 3;
  text-align: center;
  @include media(">md") {
    padding: $base-lg * 6 0;
    font-size: $font-size-sm;
    line-height: $base-sm * 3;
  }

  &__brand {
    min-height: $base-lg * 6; // 48px
    min-width: $base-lg * 15; // 120px
  }
  &__pages-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    row-gap: $base-sm * 3; // 12px
    column-gap: $base-sm * 3; // 12px
    .right-link {
      text-align: right;
    }
    .left-link {
      text-align: left;
    }
    .center-link {
      grid-column: 1 / 3;
      grid-row: 3;
      text-align: center;
    }
    @include media(">md") {
      display: flex;
      align-items: center;
      gap: $base-lg * 4; // 32px
    }
  }
  &__social-media {
    display: flex;
    justify-content: center;
    gap: $base-sm;
    font-size: $font-size-base;
    margin-block: ($base-sm * 3) 0;
    @include media(">md") {
      margin-block: 0;
      font-size: $font-size-xl;
      gap: $base-lg;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $base-lg * 3;
    min-height: $base-lg * 3;
    border-radius: $border-radius-circular;
    background: rgba($outer-space, $alpha-30p);
    @include media(">md") {
      min-width: $base-sm * 9;
      min-height: $base-sm * 9;
    }
  }
}
