//@import './../base/_variables'

.footer {
    // display: flex
    // flex-direction: column
    // justify-content: center
    // align-items: center
    // gap: 16px
    padding: 24px 0px;
    border-top: 2px solid $charleston-green;
    border-bottom: 24px solid $charleston-green;
    background: $white;
    font-family: $font-primary;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 12px;
    text-align: center;
    @include media(">md") {
      padding: 48px 0px;
      font-size: 12px;
      line-height: 14px;
    }
  
  &__brand {
    height: 48px;
    width: 120px;
  }
  &__pages-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    row-gap: 10px;
    column-gap: 12px;
    .right-link {
      text-align: right;
    }
    .left-link {
      text-align: left;
    }
    .center-link {
      grid-column: 1 / 3;
      grid-row: 3;
      text-align: center;
    }
    @include media(">md") {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }
  &__social-media {
    display: flex;
    justify-content: center;
    gap: 4px;
    font-size: 14px;
    margin-block: 12px 0px;
    @include media(">md") {
      margin-block: 0px;
      font-size: 18px;
      gap: 8px;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #4444;
    @include media(">md") {
      height: 35px;
      width: 35px;
    }
  }
}
