.navbar {
  margin-block-start: 32px;
  padding-inline: 32px;
  color: $white;
  @include media(">md") {
    margin-block-start: 8px;
    padding-inline: 64px;
  }
  &--fixed {
    position: fixed;
    width: 100%;
    padding: 0px 16px;
    color: $outer-space;
    background: $white;
    @include media(">md") {
      padding: 0px 64px;
    } // &__brand
    // &__menu
    //     &__container
    //         display: flex d
    //         align-items: center
    //     &__item
    //         margin-inline-end: 8px
    //         font-family: $font-primary
    //         font-size: 12px
    //         font-weight: bold
    //         letter-spacing: 0
    //         line-height: 14px
    //         text-align: center
  }
  &__login {
    margin-left: 0px;
    @include media(">md") {
      margin-left: 16px;
    } //&__link
  }
  &__window {
    display: none;
    @include media(">md") {
      display: block;
    }
    &--open {
      position: fixed;
      background: $primary-color-1;
      padding: 64px 0px 0px;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      @include media(">md") {
        display: none;
      }
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    padding-inline: 16px 16px;
    @include media(">md") {
      display: none;
    }
  }
  &__link {
    @include media(">md") {
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid $white;
      padding: 8px 18px 8px 0px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //gap: 6px
    margin-block-start: 32px;
    @include media(">md") {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-block-start: unset;
      padding-block-start: 8px;
      gap: 8px;
    }
  }
  &__item {
    font-family: $font-primary;
    padding: 4px 0px 4px 48px;
    font-size: 12px;
    &__title {
      font-family: $font-primary;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 14px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 16px;
      padding-left: 24px;
      @include media(">md") {
        display: none;
      }
    }
    &__has-submenu {
      &::after {
        content: "\64";
        font-family: $font-icons;
      }
    }
    &__submenu {
      display: none;
    }
    &--selected {
      padding: 10px 8px 10px 24px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.2);
      a {
        font-family: $font-primary;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 14px;
        text-align: center;
        @include media(">md") {
          font-weight: bold;
          &::after {
            content: "";
            display: block;
            border-bottom: 4px solid rgba(255, 255, 255, 0.5);
            padding-top: 6px;
            height: 1px;
          }
        }
      }
    }
  }
}
