.navbar {
  margin-block-start: $base-lg * 4; // 32px
  padding-inline: $base-lg * 4;
  color: $white;
  @include media(">md") {
    margin-block-start: $base-lg;
    padding-inline: $base-lg * 8;
  }
  &--fixed {
    position: fixed;
    min-width: 100%;
    padding: 0 ($base-lg * 2); // 0 16px
    background: $white;
    color: $outer-space;
    z-index: $index-front;
    @include media(">md") {
      padding: 0 ($base-lg * 8); // 0 64px
    } // &__brand
    // &__menu
    //     &__container
    //         display: flex d
    //         align-items: center
    //     &__item
    //         margin-inline-end: 8px
    //         font-family: $font-primary
    //         font-size: 12px
    //         font-weight: bold
    //         letter-spacing: 0
    //         line-height: 14px
    //         text-align: center
  }
  &__login {
    margin-left: 0;
    @include media(">md") {
      margin-left: $base-lg * 2; // 16px
    } //&__link
  }
  &__window {
    display: none;
    @include media(">md") {
      display: block;
    }
    &--open {
      position: fixed;
      padding: ($base-lg * 8) 0 0; // 64px 0 0
      background: $primary-color-1;
      min-width: 100%;
      min-height: 100%;
      top: 0; // this is because flex-box sass added this values, we need to restart both
      right: 0;
      @include media(">md") {
        display: none;
      }
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    padding-inline: $base-lg * 2; // 16px
    @include media(">md") {
      display: none;
    }
  }
  &__link {
    @include media(">md") {
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid $white;
      padding: $base-lg ($base-lg * 2) $base-lg 0 // 8px 16px 8px 0px
;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //gap: 6px
    margin-block-start: $base-lg * 4; // 32px
    @include media(">md") {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-block-start: unset;
      padding-block-start: $base-lg;
      gap: $base-lg;
    }
  }
  &__item {
    font: $font-size-sm $font-primary;
    padding: $base-sm 0 $base-sm ($base-lg * 6); //4px 0 4px 48px;
    &__title {
      margin-bottom: $base-lg * 2;
      padding-left: $base-lg * 3;
      font: bold $font-size-base $font-primary;
      letter-spacing: 0;
      line-height: $base-lg * 3; // 12px
      text-align: center;
      @include media(">md") {
        display: none;
      }
    }
    &__has-submenu {
      &::after {
        content: "\64";
        font-family: $font-icons;
      }
    }
    &__submenu {
      display: none;
    }
    &--selected {
      padding: $base-lg $base-lg $base-lg ($base-lg*3);// 8px 8px 8px 24px;
      min-width: 100%;
      background-color: rgba($white, $alpha-20p);
      a {
        font: $font-size-base $font-primary;
        letter-spacing: 0;
        line-height: $base-sm*3;// 12px
        text-align: center;
        @include media(">md") {
          font-weight: bold;
          &::after {
            content: "";
            display: block;
            border-bottom: $base-sm solid rgba($white, $alpha-40p);
            padding-top: $base-sm;
            min-height: 1px;
          }
        }
      }
    }
  }
}
