@import './../base/_variables'

.header
    &--home
        display: flex
        flex-direction: column
        justify-content: flex-end
        padding-block: 0px 24px
        background-image: url("/resources/assets/img/home/header-home-estatico.webp")
        background-size: cover
        background-position: 30%center
        background-repeat: no-repeat
        height: 872px
    &__navbar
        position: fixed
        width: 100%
        z-index: 2
        &__container
            display: flex
            justify-content: space-between
            align-items: center
            margin-block: 40px 0px
            padding-inline: 16px
            color: $white
        &__menu
            font-size: 40px
            padding-top: 6px
        &__logo
            flex: 1
            margin-inline: 24px 0px
    &__title
        &__container
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            color: $white
            gap: 4px
        &__content
            font-family: $font-roboto
            font-size: 16px
            letter-spacing: 0
            line-height: 17px
            text-align: center
    &__register
        &__container
            display: flex
            flex-direction: column
            justify-content: center
            gap: 16px
            align-items: center
            margin-block: 10px 0
            margin-inline: 32px
            padding-block-end: 56px
            color: $white
        &__label
            font-family: $font-roboto
            font-weight: 600
            font-size: 16px
            font-weight: 500
            letter-spacing: 0
            line-height: 17px
            text-align: center
    &__subtitle
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding-block: 16px 48px
        margin-inline: 32px
        color: $white
        &__paragraph
            color: $white
            font-family: $font-roboto
            font-size: 12px
            font-weight: 300
            letter-spacing: 0
            line-height: 13px
            text-align: center
