@import './../base/_variables'

.card
    &__slider
        display: flex
    &__container
        display: flex
        gap: 8px
    &__item
        display: flex
        height: 120px
        width: 180px
        &__image
            //position: relative
            img
                height: 100%
                width: 100%
                object-fit: cover
