<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Oasis Weddings</title>
    <meta name="description" content="Oasis Weddings Website" />
    <meta name="author" content="SitePoint" />

    <meta property="og:title" content="Oasis Weddings" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://www.sitepoint.com/a-basic-html5-template/"
    />
    <meta property="og:description" content="Oasis Weddings Website" />
    <meta property="og:image" content="image.png" />

    <!-- <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> -->

    <link rel="stylesheet" href="/public/styles/faqs.css" />
  </head>
  <!-- Under revision -->
  <body>
    <header>
      <section class="hero__background hero__background--faqs">
        <div class="navbar">
          <div class="row middle-xs">
            <div class="col-xs-8 col-md">
              <div class="row start-xs middle-xs">
                <div class="col-xs-offset-0 hide-md">
                  <button
                    class="btn btn__menu"
                    href="javascript:void(0);"
                    onclick="myFunction()"
                  >
                    <i class="icon icon-menu"></i>
                  </button>
                </div>
                <div class="col-xs">
                  <a
                    class="navbar__brand"
                    href="/src/templates/pages/home.html"
                  >
                    <picture>
                      <source
                        srcset="/src/assets/img/oweddings/horizontal/color.svg"
                      />
                      <img
                        src="/src/assets/img/oweddings/horizontal/color.svg"
                        alt="o-weddings-logo"
                        height="26px"
                        width="70px"
                      />
                    </picture>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="row middle-xs end-xs">
                <div class="navbar__window">
                  <div class="navbar__head">
                    <picture>
                      <source
                        srcset="
                          /src/assets/img/oweddings/horizontal/color-blanco.svg
                        "
                      />
                      <img
                        src="/src/assets/img/oweddings/horizontal/color-blanco.svg"
                        width="88px"
                        height="32px"
                      />
                    </picture>
                    <button class="btn btn__close icon icon-cross"></button>
                  </div>
                  <nav class="navbar__link">
                    <ul class="navbar__list">
                      <li class="navbar__item__title">MENÚ</li>
                      <li class="navbar__item">
                        <a> LUGARES </a>
                      </li>
                      <li class="navbar__item">
                        <a href="/src/templates/pages/packages.html">
                          PAQUETES
                        </a>
                      </li>
                      <li class="navbar__item">
                        <a href="/src/templates/pages/gallery.html">
                          GALERÍA
                        </a>
                      </li>
                      <li class="navbar__item">
                        <a href="/src/templates/pages/how-to-works.html"> ¿CÓMO FUNCIONA? </a>
                      </li>
                      <li class="navbar__item">
                        <a href="/src/templates/pages/faqs.html"> FAQS </a>
                      </li>
                      <li class="navbar__item">
                        <a class="navbar__item__has-submenu"> IDIOMA </a>
                        <ul class="navbar__item__submenu">
                          <li class="navbar__item">
                            <a>Es</a>
                          </li>
                          <li class="navbar__item">
                            <a>En</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="col-xs-4 col-md">
              <div class="row middle-xs end-xs start-lg">
                <div class="navbar__login">
                  <button
                    class="btn btn__primary-small btn--rose"
                    href="#login"
                  >
                    Entrar
                    <i class="icon icon-exit"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="wrapper__header wrapper__breadcrumbs">
          <div class="row end-xs">
            <nav ria-label="breadcrumb" class="breadcrumb breadcrumb--bg-dark">
              <ol class="breadcrumb__list">
                <li class="breadcrumb__item">
                  <a href="/src/templates/pages/home.html">Inicio /</a>
                </li>
                <li class="breadcrumb__item breadcrumb--active">
                  <a href="/src/templates/pages/faqs.html">Faq's</a>
                </li>
              </ol>
            </nav>
          </div>
        </section>
        <section class="wrapper__section--min wrapper__header">
          <div class="hero">
            <div class="hero__faqs">
              <div class="hero__faqs-title">
                <h1 class="heading__main--terms">Preguntas Frecuentes</h1>
                <div class="heading__secondary--terms">¿Tienes una duda?</div>
              </div> 
              <form class="faq__form">
                <div class="faq__group">
                  <input
                    id="faq-name"
                    class="faq__input"
                    type="text"
                    name="name"
                    placeholder="Nombre*"
                    required
                  />
                </div>
                <div class="faq__group">
                  <input
                    id="faq-email"
                    class="faq__input"
                    type="email"
                    name="email"
                    placeholder="Correo Electrónico*"
                    required
                  />
                </div>
                <div class="faq__group faq__grow-3">
                  <input
                    id="faq-question"
                    class="faq__input"
                    type="text"
                    name="question"
                    placeholder="Pregunta*"
                    required
                  />
                </div>
                <div class="faq__group">
                  <button class="btn btn__primary-large btn--black">
                    ENVIAR
                  </button>
                </div>
              </form>
            </div>
          </div>
        </section>
        <!-- <section class="wrapper__section--min wrapper__header">
          <div class="hero">
            <div class="hero__faqs">
              <form class="faq__form">
                <div class="faq__group">
                  <input
                    id="faq-name"
                    class="faq__input"
                    type="text"
                    name="name"
                    placeholder="Nombre*"
                    required
                  />
                </div>
                <div class="faq__group">
                  <input
                    id="faq-email"
                    class="faq__input"
                    type="email"
                    name="email"
                    placeholder="Correo Electrónico*"
                    required
                  />
                </div>
                <div class="faq__group faq__grow-3">
                  <input
                    id="faq-question"
                    class="faq__input"
                    type="text"
                    name="question"
                    placeholder="Pregunta*"
                    required
                  />
                </div>
                <div class="faq__group">
                  <button class="btn btn__primary-large btn--black">
                    ENVIAR
                  </button>
                </div>
              </form>
            </div>
          </div>
        </section> -->
      </section>
    </header>
    <main class="wrapper__content">
      <section class="wrapper__section wrapper--float-faqs">
        <div class="faq">
          <ul class="faq__list">
            <li class="faq__item">
              <div class="faq__question">
                <h3 class="faq__title">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut
                </h3>
                <i class="icon icon-chevron-up"></i>
              </div>
              <div class="faq__answer"  style="display:block">
                elerisque. Ante metus dictum at tempor commodo ullamcorper.
                Vulputate ut pharetra sit amet aliquam id. Quisque sagittis purus
                sit amet volutpat consequat mauris nunc congue. Diam maecenas sed
                enim ut sem viverra aliquet eget sit. Mattis aliquam faucibus
                purus in massa tempor nec feugiat. Pulvinar proin gravida
                hendrerit lectus. Praesent elementum facilisis leo vel. Quis enim
                lobortis scelerisque ferme
                <br /> <br />
                <ul class="faq__answer-list">
                  <li class="faq__answer-item">Adipiscing diam donec</li>
                  <li class="faq__answer-item">Adipiscing</li>
                  <li class="faq__answer-item">Adipiscing diam donec</li>
                  <li class="faq__answer-item">Adipiscing diam donec</li>
                  <li class="faq__answer-item">Adipiscing diam donec</li>
                </ul>
                <br /> <br />
                elerisque. Ante metus dictum at tempor commodo ullamcorper.
                Vulputate ut pharetra sit amet aliquam id. Quisque sagittis purus
                sit amet volutpat consequat mauris nu
                <br /> <br />
                nc congue. Diam maecenas sed enim ut sem viverra aliquet eget sit.
                Mattis aliquam faucibus purus in massa tempor nec feugiat.
                Pulvinar proin gravida hendrerit lectus.
                <br /> <br />
                Praesent elementum facilisis leo vel. Quis enim lobortis
                scelerisque ferme
              </div>
            </li>
            <li class="faq__item">
              <div class="faq__question">
                <h3 class="faq__title">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut
                </h3>
                <i class="icon icon-chevron-down"></i>
              </div>
              <div class="faq__answer"></div>
            </li>
            <li class="faq__item">
              <div class="faq__question">
                <h3 class="faq__title">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut
                </h3>
                <i class="icon icon-chevron-down"></i>
              </div>
              <div class="faq__answer"></div>
            </li>
            <li class="faq__item">
              <div class="faq__question">
                <h3 class="faq__title">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut
                </h3>
                <i class="icon icon-chevron-down"></i>
              </div>
              <div class="faq__answer"></div>
            </li>
            <li class="faq__item">
              <div class="faq__question">
                <h3 class="faq__title">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut
                </h3>
                <i class="icon icon-chevron-down"></i>
              </div>
              <div class="faq__answer"></div>
            </li>
            <li class="faq__item">
              <div class="faq__question">
                <h3 class="faq__title">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut
                </h3>
                <i class="icon icon-chevron-down"></i>
              </div>
              <div class="faq__answer"></div>
            </li>
            <li class="faq__item">
              <div class="faq__question">
                <h3 class="faq__title">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut
                </h3>
                <i class="icon icon-chevron-down"></i>
              </div>
              <div class="faq__answer"></div>
            </li>
            <li class="faq__item">
              <div class="faq__question">
                <h3 class="faq__title">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut
                </h3>
                <i class="icon icon-chevron-down"></i>
              </div>
              <div class="faq__answer"></div>
            </li>
            <li class="faq__item">
              <div class="faq__question">
                <h3 class="faq__title">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut
                </h3>
                <i class="icon icon-chevron-down"></i>
              </div>
              <div class="faq__answer"></div>
            </li>
          </ul>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="row center-xs between-md middle-xs">
        <div class="col-xs-12 col-sm">
          <picture>
            <source srcset="/src/assets/img/oweddings/horizontal/color.svg" />
            <img
              class="footer__brand"
              src="/src/assets/img/oweddings/horizontal/color.svg"
              alt="o-weddings-logo"
              height="26px"
              width="70px"
            />
          </picture>
        </div>
        <div class="col-xs-12 col-sm-6">
          <nav class="footer__navbar">
            <ul class="footer__pages-nav">
              <li class="right-link">
                <a href="javascript:void(0);"> ¿Cómo funciona? </a>
              </li>
              <li class="left-link">
                <a href="javascript:void(0);"> Paquetes </a>
              </li>
              <li class="right-link">
                <a href="javascript:void(0);"> Preguntas frecuentes </a>
              </li>
              <li class="left-link">
                <a href="javascript:void(0);"> Terminos y condiciones </a>
              </li>
              <li class="center-link">
                <a href="https://oasishoteles.com" target="_black">
                  oasishoteles.com
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-xs-12 col-sm">
          <nav class="footer__navbar">
            <ul class="footer__social-media">
              <li>
                <a class="footer__icon" href="javascript:void(0);">
                  <i class="icon icon-facebook"></i>
                </a>
              </li>
              <li>
                <a class="footer__icon" href="javascript:void(0);">
                  <i class="icon icon-twitter"></i>
                </a>
              </li>
              <li>
                <a class="footer__icon" href="javascript:void(0);">
                  <i class="icon icon-instagram"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
    <!-- your content here... -->
    <!-- <script src="js/scripts.js"></script> -->
  </body>
</html>
