<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Oasis Weddings</title>
    <meta name="description" content="Oasis Weddings Website" />
    <meta name="author" content="SitePoint" />

    <meta property="og:title" content="Oasis Weddings" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://www.sitepoint.com/a-basic-html5-template/"
    />
    <meta property="og:description" content="Oasis Weddings Website" />
    <meta property="og:image" content="image.png" />

    <!-- <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> -->

    <link rel="stylesheet" href="/public/styles/terms.css" />
  </head>
  <!-- Under revision -->
  <body>
    <header>
      <section class="hero__background hero__background--terms">
        <div class="navbar">
          <div class="row middle-xs">
            <div class="col-xs-8 col-md">
              <div class="row start-xs middle-xs">
                <div class="col-xs-offset-0 hide-md">
                  <button
                    class="btn btn__menu"
                    href="javascript:void(0);"
                    onclick="myFunction()"
                  >
                    <i class="icon icon-menu"></i>
                  </button>
                </div>
                <div class="col-xs">
                  <a
                    class="navbar__brand"
                    href="/src/templates/pages/home.html"
                  >
                    <picture>
                      <source
                        srcset="/src/assets/img/oweddings/horizontal/color.svg"
                      />
                      <img
                        src="/src/assets/img/oweddings/horizontal/color.svg"
                        alt="o-weddings-logo"
                        height="26px"
                        width="70px"
                      />
                    </picture>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="row middle-xs end-xs">
                <div class="navbar__window">
                  <div class="navbar__head">
                    <picture>
                      <source
                        srcset="
                          /src/assets/img/oweddings/horizontal/color-blanco.svg
                        "
                      />
                      <img
                        src="/src/assets/img/oweddings/horizontal/color-blanco.svg"
                        width="88px"
                        height="32px"
                      />
                    </picture>
                    <button class="btn btn__close icon icon-cross"></button>
                  </div>
                  <nav class="navbar__link">
                    <ul class="navbar__list">
                      <li class="navbar__item__title">MENÚ</li>
                      <li class="navbar__item">
                        <a> LUGARES </a>
                      </li>
                      <li class="navbar__item">
                        <a href="/src/templates/pages/packages.html">
                          PAQUETES
                        </a>
                      </li>
                      <li class="navbar__item">
                        <a href="/src/templates/pages/gallery.html">
                          GALERÍA
                        </a>
                      </li>
                      <li class="navbar__item">
                        <a> ¿CÓMO FUNCIONA? </a>
                      </li>
                      <li class="navbar__item">
                        <a> FAQS </a>
                      </li>
                      <li class="navbar__item">
                        <a class="navbar__item__has-submenu"> IDIOMA </a>
                        <ul class="navbar__item__submenu">
                          <li class="navbar__item">
                            <a>Es</a>
                          </li>
                          <li class="navbar__item">
                            <a>En</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="col-xs-4 col-md">
              <div class="row middle-xs end-xs start-lg">
                <div class="navbar__login">
                  <button
                    class="btn btn__primary-small btn--rose"
                    href="#login"
                  >
                    Entrar
                    <i class="icon icon-exit"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="wrapper__header wrapper__breadcrumbs">
          <div class="row end-xs">
            <nav ria-label="breadcrumb" class="breadcrumb breadcrumb--bg-dark">
              <ol class="breadcrumb__list">
                <li class="breadcrumb__item">
                  <a href="/src/templates/pages/home.html">Inicio /</a>
                </li>
                <li class="breadcrumb__item breadcrumb--active">
                  <a href="/src/templates/pages/faqs.html">Faq's</a>
                </li>
              </ol>
            </nav>
          </div>
        </section>
        <section class="wrapper__section wrapper__header">
          <div class="hero">
            <div class="hero__faqs">
              <h1 class="heading__terms">Preguntas Frecuentes</h1>
              <div>¿Tienes una duda?</div>
            </div>
          </div>
        </section>
        <section class="wrapper__section wrapper__header">
          <div class="hero">
            <div class="hero__faqs">
              <form class="faqs__form">
                <div class="faqs__item">
                  <input
                    id="faq-name"
                    class="faqs__input"
                    type="text"
                    name="name"
                    placeholder="Nombre*"
                    required
                  />
                </div>
                <div class="faqs__item">
                  <input
                    id="faq-email"
                    class="faqs__iteminput"
                    type="email"
                    name="email"
                    placeholder="Correo Electrónico*"
                    required
                  />
                </div>
                <div class="faqs__item">
                  <input
                    id="faq-question"
                    class="faqs__input"
                    type="text"
                    name="question"
                    placeholder="Pregunta*"
                    required
                  />
                </div>
                <div class="faqs__item">
                  <button class="btn btn__primary-large btn--black">
                    ENVIAR
                  </button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </section>
    </header>
    <main class="wrapper__content">
      <section class="wrapper__section">
        <div class="section__terms">
          <p class="section__terms-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et
            malesuada fames ac turpis egestas integer. Augue ut lectus arcu
            bibendum at varius vel. Mauris vitae ultricies leo integer malesuada
            nunc vel risus. Sit amet aliquam id diam maecenas ultricies. Ligula
            ullamcorper malesuada proin libero nunc consequat interdum varius
            sit. Aliquam ut porttitor leo a diam sollicitudin. Elementum
            pulvinar etiam non quam. At tellus at urna condimentum. Morbi
            tincidunt ornare massa eget egestas purus. Erat pellentesque
            adipiscing commodo elit at imperdiet dui accumsan. Morbi quis
            commodo odio aenean sed adipiscing. At lectus urna duis convallis
            convallis. Nunc eget lorem dolor sed viverra ipsum. Parturient
            montes nascetur ridiculus mus mauris vitae ultricies. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Netus et malesuada
            fames ac turpis egestas integer. Augue ut lectus arcu bibendum at
            varius vel. Mauris vitae ultricies leo integer malesuada nunc vel
            risus. Sit amet aliquam id diam maecenas ultricies. Ligula
            ullamcorper malesuada proin libero nunc consequat interdum varius
            sit. Aliquam ut porttitor leo a diam sollicitudin. Elementum
            pulvinar etiam non quam. At tellus at urna condimentum. Morbi
            tincidunt ornare massa eget egestas purus. Erat pellentesque
            adipiscing commodo elit at imperdiet dui accumsan. Morbi quis
            commodo odio aenean sed adipiscing. At lectus urna duis convallis
            convallis. Nunc eget lorem dolor sed viverra ipsum. Parturient
            montes nascetur ridiculus mus mauris vitae ultricies.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Netus et malesuada
            fames ac turpis egestas integer. Augue ut lectus arcu bibendum at
            varius vel. Mauris vitae ultricies leo integer malesuada nunc vel
            risus. Sit amet aliquam id diam maecenas ultricies. Ligula
            ullamcorper malesuada proin libero nunc consequat interdum varius
            sit. Aliquam ut porttitor leo a diam sollicitudin. Elementum
            pulvinar etiam non quam. At tellus at urna condimentum. Morbi
            tincidunt ornare massa eget egestas purus. Erat pellentesque
            adipiscing commodo elit at imperdiet dui accumsan. Morbi quis
            commodo odio aenean sed adipiscing. At lectus urna duis convallis
            convallis. Nunc eget lorem dolor sed viverra ipsum. Parturient
            montes nascetur ridiculus mus mauris vitae ultricies.
            <br /><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et
            malesuada fames ac turpis egestas integer. Augue ut lectus arcu
            bibendum at varius vel. Mauris vitae ultricies leo integer malesuada
            nunc vel risus. Sit amet aliquam id diam maecenas ultricies. Ligula
            ullamcorper malesuada proin libero nunc consequat interdum varius
            sit. Aliquam ut porttitor leo a diam sollicitudin. Elementum
            pulvinar etiam non quam. At tellus at urna condimentum. Morbi
            tincidunt ornare massa eget egestas purus. Erat pellentesque
            adipiscing commodo elit at imperdiet dui accumsan. Morbi quis
            commodo odio aenean sed adipiscing. At lectus urna duis convallis
            convallis. Nunc eget lorem dolor sed viverra ipsum. Parturient
            montes nascetur ridiculus mus mauris vitae ultricies. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Netus et malesuada
            fames ac turpis egestas integer. Augue ut lectus arcu bibendum at
            varius vel. Mauris vitae ultricies leo integer malesuada nunc vel
            risus. Sit amet aliquam id diam maecenas ultricies. Ligula
            ullamcorper malesuada proin libero nunc consequat interdum varius
            sit. Aliquam ut porttitor leo a diam sollicitudin. Elementum
            pulvinar etiam non quam. At tellus at urna condimentum. Morbi
            tincidunt ornare massa eget egestas purus. Erat pellentesque
            adipiscing commodo elit at imperdiet dui accumsan. Morbi quis
            commodo odio aenean sed adipiscing. At lectus urna duis convallis
            convallis. Nunc eget lorem dolor sed viverra ipsum. Parturient
            montes nascetur ridiculus mus mauris vitae ultricies.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Netus et malesuada
            fames ac turpis egestas integer. Augue ut lectus arcu bibendum at
            varius vel. Mauris vitae ultricies leo integer malesuada nunc vel
            risus. Sit amet aliquam id diam maecenas ultricies. Ligula
            ullamcorper malesuada proin libero nunc consequat interdum varius
            sit. Aliquam ut porttitor leo a diam sollicitudin. Elementum
            pulvinar etiam non quam. At tellus at urna condimentum. Morbi
            tincidunt ornare massa eget egestas purus. Erat pellentesque
            adipiscing commodo elit at imperdiet dui accumsan. Morbi quis
            commodo odio aenean sed adipiscing. At lectus urna duis convallis
            convallis. Nunc eget lorem dolor sed viverra ipsum. Parturient
            montes nascetur ridiculus mus mauris vitae ultricies.
            <br /><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et
            malesuada fames ac turpis egestas integer. Augue ut lectus arcu
            bibendum at varius vel. Mauris vitae ultricies leo integer malesuada
            nunc vel risus. Sit amet aliquam id diam maecenas ultricies. Ligula
            ullamcorper malesuada proin libero nunc consequat interdum varius
            sit. Aliquam ut porttitor leo a diam sollicitudin. Elementum
            pulvinar etiam non quam. At tellus at urna condimentum. Morbi
            tincidunt ornare massa eget egestas purus. Erat pellentesque
            adipiscing commodo elit at imperdiet dui accumsan. Morbi quis
            commodo odio aenean sed adipiscing. At lectus urna duis convallis
            convallis. Nunc eget lorem dolor sed viverra ipsum. Parturient
            montes nascetur ridiculus mus mauris vitae ultricies. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Netus et malesuada
            fames ac turpis egestas integer. Augue ut lectus arcu bibendum at
            varius vel. Mauris vitae ultricies leo integer malesuada nunc vel
            risus. Sit amet aliquam id diam maecenas ultricies. Ligula
            ullamcorper malesuada proin libero nunc consequat interdum varius
            sit. Aliquam ut porttitor leo a diam sollicitudin. Elementum
            pulvinar etiam non quam. At tellus at urna condimentum. Morbi
            tincidunt ornare massa eget egestas purus. Erat pellentesque
            adipiscing commodo elit at imperdiet dui accumsan. Morbi quis
            commodo odio aenean sed adipiscing. At lectus urna duis convallis
            convallis. Nunc eget lorem dolor sed viverra ipsum. Parturient
            montes nascetur ridiculus mus mauris vitae ultricies.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Netus et malesuada
            fames ac turpis egestas integer. Augue ut lectus arcu bibendum at
            varius vel. Mauris vitae ultricies leo integer malesuada nunc vel
            risus. Sit amet aliquam id diam maecenas ultricies. Ligula
            ullamcorper malesuada proin libero nunc consequat interdum varius
            sit. Aliquam ut porttitor leo a diam sollicitudin. Elementum
            pulvinar etiam non quam. At tellus at urna condimentum. Morbi
            tincidunt ornare massa eget egestas purus. Erat pellentesque
            adipiscing commodo elit at imperdiet dui accumsan. Morbi quis
            commodo odio aenean sed adipiscing. At lectus urna duis convallis
            convallis. Nunc eget lorem dolor sed viverra ipsum. Parturient
            montes nascetur ridiculus mus mauris vitae ultricies.
            <br /><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et
            malesuada fames ac turpis egestas integer. Augue ut lectus arcu
            bibendum at varius vel. Mauris vitae ultricies leo integer malesuada
            nunc vel risus. Sit amet aliquam id diam maecenas ultricies. Ligula
            ullamcorper malesuada proin libero nunc consequat interdum varius
            sit. Aliquam ut porttitor leo a diam sollicitudin. Elementum
            pulvinar etiam non quam. At tellus at urna condimentum. Morbi
            tincidunt ornare massa eget egestas purus. Erat pellentesque
            adipiscing commodo elit at imperdiet dui accumsan. Morbi quis
            commodo odio aenean sed adipiscing. At lectus urna duis convallis
            convallis. Nunc eget lorem dolor sed viverra ipsum. Parturient
            montes nascetur ridiculus mus mauris vitae ultricies. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Netus et malesuada
            fames ac turpis egestas integer. Augue ut lectus arcu bibendum at
            varius vel. Mauris vitae ultricies leo integer malesuada nunc vel
            risus. Sit amet aliquam id diam maecenas ultricies. Ligula
            ullamcorper malesuada proin libero nunc consequat interdum varius
            sit. Aliquam ut porttitor leo a diam sollicitudin. Elementum
            pulvinar etiam non quam. At tellus at urna condimentum. Morbi
            tincidunt ornare massa eget egestas purus. Erat pellentesque
            adipiscing commodo elit at imperdiet dui accumsan. Morbi quis
            commodo odio aenean sed adipiscing. At lectus urna duis convallis
            convallis. Nunc eget lorem dolor sed viverra ipsum. Parturient
            montes nascetur ridiculus mus mauris vitae ultricies.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Netus et malesuada
            fames ac turpis egestas integer. Augue ut lectus arcu bibendum at
            varius vel. Mauris vitae ultricies leo integer malesuada nunc vel
            risus. Sit amet aliquam id diam maecenas ultricies. Ligula
            ullamcorper malesuada proin libero nunc consequat interdum varius
            sit. Aliquam ut porttitor leo a diam sollicitudin. Elementum
            pulvinar etiam non quam. At tellus at urna condimentum. Morbi
            tincidunt ornare massa eget egestas purus. Erat pellentesque
            adipiscing commodo elit at imperdiet dui accumsan. Morbi quis
            commodo odio aenean sed adipiscing. At lectus urna duis convallis
            convallis. Nunc eget lorem dolor sed viverra ipsum. Parturient
            montes nascetur ridiculus mus mauris vitae ultricies.
            <br /><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Netus et
            malesuada fames ac turpis egestas integer. Augue ut lectus arcu
            bibendum at varius vel. Mauris vitae ultricies leo integer malesuada
            nunc vel risus. Sit amet aliquam id diam maecenas ultricies. Ligula
            ullamcorper malesuada proin libero nunc consequat interdum varius
            sit. Aliquam ut porttitor leo a diam sollicitudin. Elementum
            pulvinar etiam non quam. At tellus at urna condimentum. Morbi
            tincidunt ornare massa eget egestas purus. Erat pellentesque
            adipiscing commodo elit at imperdiet dui accumsan. Morbi quis
            commodo odio aenean sed adipiscing. At lectus urna duis convallis
            convallis. Nunc eget lorem dolor sed viverra ipsum. Parturient
            montes nascetur ridiculus mus mauris vitae ultricies. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Netus et malesuada
            fames ac turpis egestas integer. Augue ut lectus arcu bibendum at
            varius vel. Mauris vitae ultricies leo integer malesuada nunc vel
            risus. Sit amet aliquam id diam maecenas ultricies. Ligula
            ullamcorper malesuada proin libero nunc consequat interdum varius
            sit. Aliquam ut porttitor leo a diam sollicitudin. Elementum
            pulvinar etiam non quam. At tellus at urna condimentum. Morbi
            tincidunt ornare massa eget egestas purus. Erat pellentesque
            adipiscing commodo elit at imperdiet dui accumsan. Morbi quis
            commodo odio aenean sed adipiscing. At lectus urna duis convallis
            convallis. Nunc eget lorem dolor sed viverra ipsum. Parturient
            montes nascetur ridiculus mus mauris vitae ultricies.Lorem ipsum
            dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Netus et malesuada
            fames ac turpis egestas integer. Augue ut lectus arcu bibendum at
            varius vel. Mauris vitae ultricies leo integer malesuada nunc vel
            risus. Sit amet aliquam id diam maecenas ultricies. Ligula
            ullamcorper malesuada proin libero nunc consequat interd
          </p>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="row center-xs between-md middle-xs">
        <div class="col-xs-12 col-sm">
          <picture>
            <source srcset="/src/assets/img/oweddings/horizontal/color.svg" />
            <img
              class="footer__brand"
              src="/src/assets/img/oweddings/horizontal/color.svg"
              alt="o-weddings-logo"
              height="26px"
              width="70px"
            />
          </picture>
        </div>
        <div class="col-xs-12 col-sm-6">
          <nav class="footer__navbar">
            <ul class="footer__pages-nav">
              <li class="right-link">
                <a href="javascript:void(0);"> ¿Cómo funciona? </a>
              </li>
              <li class="left-link">
                <a href="javascript:void(0);"> Paquetes </a>
              </li>
              <li class="right-link">
                <a href="javascript:void(0);"> Preguntas frecuentes </a>
              </li>
              <li class="left-link">
                <a href="javascript:void(0);"> Terminos y condiciones </a>
              </li>
              <li class="center-link">
                <a href="https://oasishoteles.com" target="_black">
                  oasishoteles.com
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-xs-12 col-sm">
          <nav class="footer__navbar">
            <ul class="footer__social-media">
              <li>
                <a class="footer__icon" href="javascript:void(0);">
                  <i class="icon icon-facebook"></i>
                </a>
              </li>
              <li>
                <a class="footer__icon" href="javascript:void(0);">
                  <i class="icon icon-twitter"></i>
                </a>
              </li>
              <li>
                <a class="footer__icon" href="javascript:void(0);">
                  <i class="icon icon-instagram"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
    <!-- your content here... -->
    <!-- <script src="js/scripts.js"></script> -->
  </body>
</html>
