<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Oasis Weddings</title>
    <meta name="description" content="Oasis Weddings Website" />
    <meta name="author" content="SitePoint" />

    <meta property="og:title" content="Oasis Weddings" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/" />
    <meta property="og:description" content="Oasis Weddings Website" />
    <meta property="og:image" content="image.png" />

    <!-- <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> -->

    <link rel="stylesheet" href="/public/styles/index.css" />
</head>

<body>
    <aside>
        <div id="windowMenu" class="menu__container">
            <!-- Modal content -->
            <div class="menu__window">
                <div class="menu__head">
                    <picture>
                        <source srcset="/resources/assets/img/oweddings/horizontal/color-blanco.svg">
                        <img src="/resources/assets/img/oweddings/horizontal/color-blanco.svg" width="88px" height="32px">
                    </picture>
                    <button class="btn btn__close icon icon-cross"></button>
                </div>
                <div class="menu__content">
                    <nav class="menu__navbar">
                        <ul class="menu__navbar__container">
                            <li class="menu__navbar__item">
                                MENÚ
                            </li>
                            <li class="menu__navbar__item">
                                <a>
                                    LUGARES
                                </a>
                            </li>
                            <li class="menu__navbar__item">
                                <a>
                                    PAQUETES
                                </a>
                            </li>
                            <li class="menu__navbar__item">
                                <a>
                                    GALERÍA
                                </a>
                            </li>
                            <li class="menu__navbar__item">
                                <a>
                                    ¿CÓMO FUNCIONA?
                                </a>
                            </li>
                            <li class="menu__navbar__item">
                                <a>
                                    FAQS
                                </a>
                            </li>
                            <li class="menu__navbar__item">
                                <a>
                                    IDIOMA<span class="icon icon-chevron-down"></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </aside>
    <!-- your content here... -->
    <!-- <script src="js/scripts.js"></script> -->
</body>

</html>