<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Oasis Weddings</title>
    <meta name="description" content="Oasis Weddings Website" />
    <meta name="author" content="SitePoint" />

    <meta property="og:title" content="Oasis Weddings" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://www.sitepoint.com/a-basic-html5-template/"
    />
    <meta property="og:description" content="Oasis Weddings Website" />
    <meta property="og:image" content="image.png" />

    <!-- <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> -->

    <link rel="stylesheet" href="/public/styles/packages.css" />
  </head>

  <body>
    <header>
      <section class="hero__background--packages">
        <div class="navbar">
          <div class="row middle-xs">
            <div class="col-xs-8 col-md">
              <div class="row start-xs middle-xs">
                <div class="col-xs-offset-0 hide-md">
                  <button
                    class="btn btn__menu"
                    href="javascript:void(0);"
                    onclick="myFunction()"
                  >
                    <i class="icon icon-menu"></i>
                  </button>
                </div>
                <div class="col-xs">
                  <a class="navbar__brand" href="/">
                    <picture>
                      <source
                        srcset="/src/assets/img/oweddings/horizontal/color.svg"
                      />
                      <img
                        src="/src/assets/img/oweddings/horizontal/color.svg"
                        alt="o-weddings-logo"
                        height="26px"
                        width="70px"
                      />
                    </picture>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="row middle-xs end-xs">
                <div class="navbar__window">
                  <div class="navbar__head">
                    <picture>
                      <source
                        srcset="
                          /src/assets/img/oweddings/horizontal/color-blanco.svg
                        "
                      />
                      <img
                        src="/src/assets/img/oweddings/horizontal/color-blanco.svg"
                        width="88px"
                        height="32px"
                      />
                    </picture>
                    <button class="btn btn__close icon icon-cross"></button>
                  </div>
                  <nav class="navbar__link">
                    <ul class="navbar__list">
                      <li class="navbar__item__title">MENÚ</li>
                      <li class="navbar__item">
                        <a> LUGARES </a>
                      </li>
                      <li class="navbar__item">
                        <a> PAQUETES </a>
                      </li>
                      <li class="navbar__item">
                        <a> GALERÍA </a>
                      </li>
                      <li class="navbar__item">
                        <a> ¿CÓMO FUNCIONA? </a>
                      </li>
                      <li class="navbar__item">
                        <a> FAQS </a>
                      </li>
                      <li class="navbar__item">
                        <a class="navbar__item__has-submenu"> IDIOMA </a>
                        <ul class="navbar__item__submenu">
                          <li class="navbar__item">
                            <a>Es</a>
                          </li>
                          <li class="navbar__item">
                            <a>En</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="col-xs-4 col-md">
              <div class="row middle-xs end-xs start-lg">
                <div class="navbar__login">
                  <button class="btn btn__primary-small btn--rose" href="#login">
                    Entrar
                    <i class="icon icon-exit"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="wrapper">
          <div class="row end-xs">
            <div class="breadcrumb">
              <span class="breadcrumb__init"> Inicio </span>
              <span class="breadcrumb__item"> / Paquetes </span>
            </div>
          </div>
        </section>
        <section class="wrapper">
          <div class="row">
            <div class="col">
              <nav class="tab">
                <ul class="tab__list">
                  <li class="tab__item tab__item--selected">
                    <a href="#" class="tab__link">O CEREMONY</a>
                  </li>
                  <li class="tab__item">
                    <a href="#" class="tab__link">O REMEMBER</a>
                  </li>
                  <li class="tab__item">
                    <a href="#" class="tab__link">O LOVE</a>
                  </li>
                  <li class="tab__item">
                    <a href="#" class="tab__link">O ROMANCE</a>
                  </li>
                  <li class="tab__item">
                    <a href="#" class="tab__link">O FOR YOU</a>
                  </li>
                  <li class="tab__item">
                    <a href="#" class="tab__link">O MAYAN</a>
                  </li>
                  <li class="tab__item">
                    <a href="#" class="tab__link">O SAY YES</a>
                  </li>
                </ul>
              </nav>
              <div class="tab__arrow">
                <button class="btn btn__arrow btn__arrow--packages-tab">
                  <i class="icon icon-chevron-left"></i>
                </button>
                <button class="btn btn__arrow btn__arrow--packages-tab">
                  <i class="icon icon-chevron-right"></i>
                </button>
              </div>
            </div>
          </div>
        </section>
        <section class="wrapper">
          <div class="row">
            <div class="col">
              <div class="heading__container">
                <span class="heading__O">O</span>
                <h1 class="heading__main--packages">O CEREMONY</h1>
              </div>
            </div>
          </div>
          <div class="hero">
            <div class="row">
              <div class="col">
                <h2 class="heading__secondary--packages">
                  PAQUETE DE BODA O CEREMONY
                </h2>
                <div class="heading__secondary--packages">
                  <span>00 Invitados</span>
                </div>
                <div class="hero__packages-content">
                  <p class="hero__packages-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Netus et malesuada fames ac turpis egestas integer.
                    Augue ut lectus arcu bibendum at varius vel. Mauris vitae
                    ultricies leo integer malesuada nunc vel risus. Sit amet
                    aliquam id diam maecenas ultricies. Ligula ullamcorper
                    malesuada proin libero nunc consequat interdum varius sit.
                  </p>
                  <button class="btn btn__register">REGISTRARME</button>
                  <button class="btn footer__icon">
                    <i class="icon icon-download"></i>
                  </button>
                  <div>
                    <span>Descargar Factsheet</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
      <!-- <section class="wrapper">
        <div class="row">
          <div class="col">
            <div>
              <span>00 Invitados</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Netus et malesuada fames ac turpis egestas integer. Augue ut
                lectus arcu bibendum at varius vel. Mauris vitae ultricies leo
                integer malesuada nunc vel risus. Sit amet aliquam id diam
                maecenas ultricies. Ligula ullamcorper malesuada proin libero
                nunc consequat interdum varius sit.
              </p>
              <button class="btn btn__register">REGISTRARME</button>
              <div>
                <button class="footer__icon">
                  <i class="icon icon-download"></i>
                </button>
                <span>Descargar Factsheet</span>
              </div>
            </div>
          </div>
        </div>
      </section> -->
    </header>
    <main class="wrapper__content">
      <section class="wrapper__section">
        <div class="row">
          <div class="col">
            <div class="box">
              <div class="box__container">
                <h3 class="box__title--main">Tu boda incluye</h3>
                <ul class="box__list">
                  <li class="box__item">
                    Botella de vino espumoso nacional en habitación de novios
                    con cortesía especial del chef.
                  </li>
                  <li class="box__item">
                    Pastel de bodas decorado con flores naturales.
                  </li>
                  <li class="box__item">
                    Desayuno nupcial en habitación de la pareja.
                  </li>
                  <li class="box__item">
                    Brindis después de la ceremonia - 1 copa por persona.
                  </li>
                  <li class="box__item">
                    Cena en restaurante de especialidad con menú dirigido
                    (aplica a partir de 10 personas) y bebidas nacionales
                    durante 2 horas.
                  </li>
                  <li class="box__item">
                    Locación especial para ceremonia en playa o terraza
                    (disponibilidad de acuerdo a hotel sede).
                  </li>
                </ul>
                <div class="box__item">
                  <span class="icon icon-chevron-down">
                  </span>
                </div>
              </div>
              <span class="box__horizontal-line">-</span>
              <div class="box__container">
                <h3 class="box__title--benefits">Beneficios <span>VIP</span></h3>
                <ul class="box__list">
                  <li class="box__item">Registro en zona VIP para pareja.</li>
                  <li class="box__item">Brazalete VIP especial para pareja.</li>
                  <li class="box__item">
                    Amenidades VIP en la habitación de la pareja.
                  </li>
                  <li class="box__item">Registro en zona VIP para pareja.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row center-xs">
            <button class="btn btn__register">QUIERO ESTE PAQUETE</button>
        </div>
      </section>
      <section class="wrapper__section">
        <div class="row">
          <div class="col">
            <div class="gallery__packages">
              <div class="gallery__packages-container-1">
                <picture class="gallery__cover">
                  <source srcset="/src/assets/img/home/galeria/1-thumb.webp" />
                  <img
                    class="gallery__image"
                    src="/src/assets/img/home/galeria/1-thumb.webp"
                  />
                </picture>
              </div>
              <div class="gallery__packages-container-2">
                <picture class="gallery__cover">
                  <source srcset="/src/assets/img/home/galeria/2-thumb.webp" />
                  <img
                    class="gallery__image"
                    src="/src/assets/img/home/galeria/2-thumb.webp"
                  />
                </picture>
              </div>
              <div class="gallery__packages-container-3">
                <picture class="gallery__cover">
                  <source srcset="/src/assets/img/home/galeria/3-thumb.webp" />
                  <img
                    class="gallery__image"
                    src="/src/assets/img/home/galeria/3-thumb.webp"
                  />
                </picture>
              </div>
              <div class="gallery__packages-container-4">
                <picture class="gallery__cover">
                  <source srcset="/src/assets/img/home/galeria/3.webp" />
                  <img
                    class="gallery__image"
                    src="/src/assets/img/home/galeria/3.webp"
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="row center-xs between-md middle-xs">
        <div class="col-xs-12 col-sm">
          <picture>
            <source srcset="/src/assets/img/oweddings/horizontal/color.svg" />
            <img
              class="footer__brand"
              src="/src/assets/img/oweddings/horizontal/color.svg"
              alt="o-weddings-logo"
              height="26px"
              width="70px"
            />
          </picture>
        </div>
        <div class="col-xs-12 col-sm-6">
          <nav class="footer__navbar">
            <ul class="footer__pages-nav">
              <li class="right-link">
                <a href="javascript:void(0);"> ¿Cómo funciona? </a>
              </li>
              <li class="left-link">
                <a href="javascript:void(0);"> Paquetes </a>
              </li>
              <li class="right-link">
                <a href="javascript:void(0);"> Preguntas frecuentes </a>
              </li>
              <li class="left-link">
                <a href="javascript:void(0);"> Terminos y condiciones </a>
              </li>
              <li class="center-link">
                <a href="https://oasishoteles.com" target="_black">
                  oasishoteles.com
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-xs-12 col-sm">
          <nav class="footer__navbar">
            <ul class="footer__social-media">
              <li>
                <a class="footer__icon" href="javascript:void(0);">
                  <i class="icon icon-facebook"></i>
                </a>
              </li>
              <li>
                <a class="footer__icon" href="javascript:void(0);">
                  <i class="icon icon-twitter"></i>
                </a>
              </li>
              <li>
                <a class="footer__icon" href="javascript:void(0);">
                  <i class="icon icon-instagram"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
    <!-- your content here... -->
    <!-- <script src="js/scripts.js"></script> -->
  </body>
</html>
