@import './../base/_variables'
@import 'sass-flexbox-grid-oasis/main.sass'

.header-title
    font-family: $font-roboto
    font-weight: 600
    font-size: 34px
    letter-spacing: 0
    line-height: 40px
    text-align: center
    color: $white

.header-subtitle
    color: $white
    font-family: $font-beauty
    font-size: 34px
    letter-spacing: 0
    line-height: 37px
    text-align: center

.section-title
    font-family: $font-times
    font-size: 20px
    font-weight: bold
    letter-spacing: 0
    line-height: 24px
    span
        color: $outer-space
        font-family: $font-jost
        font-size: 12px
        font-weight: lighter
        //font-weight: 300
        letter-spacing: 0
        line-height: 16px

.hidden
    display: none
    &--mobile
        @include media("<md")
            display: none
    &--desktop
        @include media(">md")
            display: none

.wrapper
    &__section
        margin-bottom: 36px
        padding: 0px 24px
        &__first
            position: relative
            padding: 0px 16px
            transform: translateY(-32px)
    &__content
        display: flex
        flex-direction: column
        box-shadow: 0 -23px 34px 0 rgba(0,0,0,0.2)

