<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Oasis Weddings</title>
    <meta name="description" content="Oasis Weddings Website" />
    <meta name="author" content="SitePoint" />

    <meta property="og:title" content="Oasis Weddings" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://www.sitepoint.com/a-basic-html5-template/"
    />
    <meta property="og:description" content="Oasis Weddings Website" />
    <meta property="og:image" content="image.png" />

    <!-- <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> -->

    <link rel="stylesheet" href="/public/styles/gallery.css" />
  </head>

  <body>
    <div class="gallery">
      <div class="gallery__section">
        <div class="gallery__title">
          <h3 class="heading__title">GALERÍA</h3>
          <span class="heading__subtitle">WEDDINGS</span>
        </div>
        <br />
        <p class="gallery__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Pellentesque habitant morbi tristique senectus et netus et
          malesuada. Scelerisque.
          <br /><br />
          In dictum non consectetur. Viverra ipsum nunc aliquet bibendum
          enim facilisis gravida. Eget lorem dolor sed Viverra ipsum
        </p>
      </div>
      <div class="gallery__item" style="background: red;">

      </div>
      <div class="gallery__item" style="background: blue;">

      </div>
      <div class="gallery__item" style="background: yellow;">

      </div>
      <div class="gallery__item" style="background: green;">

      </div>
      <div class="gallery__item" style="background: cyan;">

      </div>
      <!-- <picture class="img1">
        <source srcset="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/galeria-home/3-thumb.webp" />
        <img
          class="gallery__image"
          src="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/galeria-home/3-thumb.webp"
        />
      </picture>
      <picture class="img2">
        <source srcset="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/galeria-home/3-thumb.webp" />
        <img
          class="gallery__image"
          src="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/galeria-home/3-thumb.webp"
        />
      </picture>
      <picture class="img3">
        <source srcset="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/galeria-home/3-thumb.webp" />
        <img
          class="gallery__image"
          src="/https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/galeria-home/3-thumb.webp"
        />
      </picture>
      <picture class="img4">
        <source srcset="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/galeria-home/3-thumb.webp" />
        <img
          class="gallery__image"
          src="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/galeria-home/3-thumb.webp"
        />
      </picture>
      <picture class="cover-video">
        <source
          srcset="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/galeria-home/3-thumb.webp"
        />
        <img
          class="gallery__image"
          src="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/galeria-home/3-thumb.webp"
        />
      </picture> -->
    </div>
  </body>
</html>
