@charset "UTF-8";

@font-face {
  font-family: "bodas-2023";
  src:url("fonts/bodas-2023.eot");
  src:url("fonts/bodas-2023.eot?#iefix") format("embedded-opentype"),
    url("fonts/bodas-2023.woff") format("woff"),
    url("fonts/bodas-2023.ttf") format("truetype"),
    url("fonts/bodas-2023.svg#bodas-2023") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "bodas-2023" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "bodas-2023" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\61";
}
.icon-chevron-left:before {
  content: "\62";
}
.icon-chevron-right:before {
  content: "\63";
}
.icon-chevron-down:before {
  content: "\64";
}
.icon-chevron-up:before {
  content: "\65";
}
.icon-chevron-down-circle:before {
  content: "\66";
}
.icon-chevron-left-circle:before {
  content: "\67";
}
.icon-chevron-right-circle:before {
  content: "\68";
}
.icon-chevron-up-circle:before {
  content: "\69";
}
.icon-facebook:before {
  content: "\6a";
}
.icon-twitter:before {
  content: "\6b";
}
.icon-instagram:before {
  content: "\6c";
}
.icon-exit:before {
  content: "\6d";
}
.icon-apartment:before {
  content: "\6e";
}
.icon-heart:before {
  content: "\6f";
}
.icon-download:before {
  content: "\70";
}
.icon-menu:before {
  content: "\71";
}
.icon-lupa:before {
  content: "\72";
}
.icon-svg:before {
  content: "\73";
}
