@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Jost&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5;
  min-height: 100%;
  position: relative;
}

body {
  font-size: 14px;
  font-weight: 300;
  width: 100%;
}

li {
  list-style: none;
}

a, input, button {
  all: unset;
}

h1, h2, h3, h4 {
  all: unset;
}

h2 {
  font-family: "beauty";
  font-size: 34px;
}

@font-face {
  font-family: "bodas-2023";
  src: url("/public/fonts/bodas-2023/fonts/bodas-2023.eot");
  src: url("/public/fonts/bodas-2023/fonts/bodas-2023.eot?#iefix") format("embedded-opentype"), url("/public/fonts/bodas-2023/fonts/bodas-2023.woff") format("woff"), url("/public/fonts/bodas-2023/fonts/bodas-2023.ttf") format("truetype"), url("/public/fonts/bodas-2023/fonts/bodas-2023.svg#bodas-2023") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Beauty";
  src: url("/public/fonts/beauty/fonts/Beauty.eot");
  src: url("/public/fonts/beauty/fonts/Beauty.eot?#iefix") format("embedded-opentype"), url("/public/fonts/beauty/fonts/Beauty.woff2") format("woff2"), url("/public/fonts/beauty/fonts/Beauty.woff") format("woff"), url("/public/fonts/beauty/fonts/Beauty.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[data-icon]:before {
  font-family: "bodas-2023" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "bodas-2023" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "a";
}

.icon-chevron-left:before {
  content: "b";
}

.icon-chevron-right:before {
  content: "c";
}

.icon-chevron-down:before {
  content: "d";
}

.icon-chevron-up:before {
  content: "e";
}

.icon-chevron-down-circle:before {
  content: "f";
}

.icon-chevron-left-circle:before {
  content: "g";
}

.icon-chevron-right-circle:before {
  content: "h";
}

.icon-chevron-up-circle:before {
  content: "i";
}

.icon-facebook:before {
  content: "j";
}

.icon-twitter:before {
  content: "k";
}

.icon-instagram:before {
  content: "l";
}

.icon-exit:before {
  content: "m";
}

.icon-apartment:before {
  content: "n";
}

.icon-heart:before {
  content: "o";
}

.icon-download:before {
  content: "p";
}

.icon-menu:before {
  content: "q";
}

.icon-lupa:before {
  content: "r";
}

.icon-svg:before {
  content: "s";
}

.header {
  position: relative;
  background-image: url("/resources/assets/img/home/header-home-estatico.webp");
  height: 800px;
}
.header__container {
  display: flex;
}
.header__title__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title__title {
  font-family: Roboto;
  color: #FFFFFF;
  font-size: 34px;
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
}
.header__title__subtitle {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 60px 20px;
  padding-inline: 12px;
}
.navbar__menu {
  font-size: 32px;
}
.navbar__logo {
  align-self: flex-start;
}

.btn__login {
  display: flex;
  gap: 6px;
  padding-block: 8px 4px;
  padding-inline: 16px;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  background-color: #FF7E7E;
  color: white;
}

/*# sourceMappingURL=index.css.map */
