<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Oasis Weddings</title>
    <meta name="description" content="Oasis Weddings Website" />
    <meta name="author" content="SitePoint" />

    <meta property="og:title" content="Oasis Weddings" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/" />
    <meta property="og:description" content="Oasis Weddings Website" />
    <meta property="og:image" content="image.png" />

    <!-- <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> -->

    <link rel="stylesheet" href="/public/styles/index.css" />
</head>

<body style="background:lightblue;">
    <footer class="footer__container" style="margin-top: 50%">
        <div class="row center-xs between-md middle-xs">
            <div class="col-xs-12 col-sm">
                <picture>
                    <source srcset="/resources/assets/img/oweddings/horizontal/color.svg" />
                    <img class="footer__brand" src="/resources/assets/img/oweddings/horizontal/color.svg"
                        alt="o-weddings-logo" height="26px" width="70px" />
                </picture>
            </div>
            <div class="col-xs-12 col-sm-6">
                <nav class="footer__navbar">
                    <ul class="footer__pages-nav">
                        <li class="right-link">
                            <a href="javascript:void(0);">
                                ¿Cómo funciona?
                            </a>
                        </li>
                        <li class="left-link">
                            <a href="javascript:void(0);">
                                Paquetes
                            </a>
                        </li>
                        <li class="right-link">
                            <a href="javascript:void(0);">
                                Preguntas frecuentes
                            </a>
                        </li>
                        <li class="left-link">
                            <a href="javascript:void(0);">
                                Terminos y condiciones
                            </a>
                        </li>
                        <li class="center-link">
                            <a href="https://oasishoteles.com" target="_black">
                                oasishoteles.com
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-sm">
                <nav class="footer__navbar">
                    <ul class="footer__social-media">
                        <li>
                            <a class="footer__icon" href="javascript:void(0);">
                                <i class="icon icon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a class="footer__icon" href="javascript:void(0);">
                                <i class="icon icon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="footer__icon" href="javascript:void(0);">
                                <i class="icon icon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
    <!-- your content here... -->
    <!-- <script src="js/scripts.js"></script> -->
</body>

</html>