<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Oasis Weddings</title>
    <meta name="description" content="Oasis Weddings Website" />
    <meta name="author" content="SitePoint" />

    <meta property="og:title" content="Oasis Weddings" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/" />
    <meta property="og:description" content="Oasis Weddings Website" />
    <meta property="og:image" content="image.png" />

    <!-- <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> -->

    <link rel="stylesheet" href="/public/styles/index.css" />
</head>

<body>
    <header>
        <!-- <section class="header--home">
            <div class="hero__title__container">
                <h1 class="header-title">Planea la mejor Boda</h1>
                <p class="hero__title__content">Llega a las parejas de hoy y reserva más bodas.</p>
            </div>
            <div class="hidden--desktop">
                <div class="hero__register__container">
                    <label class="hero__register__label">¡Registrate!</label>
                    <button class="btn btn--block btn__input">
                        Nombre*
                    </button>
                    <button class="btn  btn--block btn__register">
                        REGISTRARME
                    </button>
                </div>
            </div>
            <div class="hidden--mobile">
                <form class="form-example">
                    <div class="form-example">
                        <label for="name">Enter your name: </label>
                        <input type="text" name="name" id="name" required>
                    </div>
                    <div class="form-example">
                        <label for="email">Enter your email: </label>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div class="form-example">
                        <input type="submit" value="Subscribe!">
                    </div>
                </form>
            </div>
        </section>
        <section class="section__header hidden--desktop">
            <div class="hero__subtitle">
                <h2 class="header-subtitle">El lugar ideal</h2>
                <p class="hero__subtitle__paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Netus et malesuada fames ac turpis egestas integer. Augue ut lectus arcu
                    bibendum at varius vel.Mauris vitae ultricies leo integer malesuada nunc vel risus.
            </div>
        </section> -->
        <section class="hero--home">
            <div class="hero">
                <div class="row end-xs">
                    <div class="col-xs">
                        <div class="hero__window">
                            <div class="hero__main">
                                <h1 class="hero__title">Planea la mejor Boda</h1>
                                <p class="hero__text">Llega a las parejas de hoy y reserva más bodas.</p>
                            </div>
                            <label class="register__label">¡Registrate!</label>
                            <form action="" method="get" class="register">
                                <div class="register__item">
                                    <input id="form-name" class="register__input" type="text" 
                                        name="name" placeholder="Nombre*" required>
                                </div>
                                <div class="register__item">
                                    <input id="form-surname" class="register__input" type="text" 
                                        name="surname" placeholder="Apellido*" required>
                                </div>
                                <div class="register__item">
                                    <input id="form-business" class="register__input" type="text" 
                                        name="business" placeholder="Empresa*" required>
                                </div>
                                <div class="register__item">
                                    <input id="form-business-cat" class="register__input" type="text" 
                                        name="b-category" placeholder="Categoría de la Empresa*" required>
                                </div>
                                <div class="register__item">
                                    <input id="form-phone" class="register__input" type="tel" 
                                        name="phone" placeholder="Telefono*" 
                                        pattern="[0-9]{3}[0-9]{2}[0-9]{3}" maxlength="10" required>
                                </div>
                                <div class="register__item">
                                    <input id="form-email" class="register__input" type="email" 
                                        name="email" placeholder="Correo Electrónico*" required>
                                </div>
                                <div class="register__item">
                                    <input id="form-country" class="register__input" type="text" 
                                        name="country" placeholder="País*" required>
                                </div>
                                <div class="register__item">
                                    <input id="form-password" class="register__input" type="password" 
                                        name="password" placeholder="Generar una contraseña*" required>
                                </div>
                                <div class="register__item">
                                    <button class="btn btn__register">
                                        REGISTRARME
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="registe--mobile">
                            <label class="register__label">¡Registrate!</label>
                            <button class="btn btn--block btn__input">
                                Nombre*
                            </button>
                            <button class="btn  btn--block btn__register">
                                REGISTRARME
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col hide show-md">
                        <div class="hero__secondary">
                            <h2 class="hero__subtitletitle">El lugar ideal</h2>
                            <p class="hero__paragraph">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua. Netus et malesuada fames ac turpis egestas integer. Augue ut lectus arcu
                                bibendum at varius vel.Mauris vitae ultricies leo integer malesuada nunc vel risus.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section__header">
            <div class="row">
                <div class="col hide-md">
                    <div class="hero__secondary">
                        <h2 class="hero__subtitletitle">El lugar ideal</h2>
                        <p class="hero__paragraph">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Netus et malesuada fames ac turpis egestas integer. Augue ut lectus arcu
                            bibendum at varius vel.Mauris vitae ultricies leo integer malesuada nunc vel risus.
                    </div>
                </div>
            </div>
        </section>
    </header>
</body>