<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Oasis Weddings</title>
    <meta name="description" content="Oasis Weddings Website" />
    <meta name="author" content="SitePoint" />

    <meta property="og:title" content="Oasis Weddings" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/" />
    <meta property="og:description" content="Oasis Weddings Website" />
    <meta property="og:image" content="image.png" />

    <!-- <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> -->

    <link rel="stylesheet" href="/public/styles/index.css" />
</head>

<body>
    <header class="header header--home">
        <nav class="header__navbar">
            <ul class="header__navbar__container">
                <li class="header__navbar__menu">
                    <a href="javascript:void(0);" onclick="myFunction()">
                        <i class="icon icon-menu"></i>
                    </a>
                </li>
                <li class="header__navbar__logo">
                    <a href="/" >
                        <picture>
                            <source srcset="/resources/assets/img/oweddings/horizontal/color-blanco.svg" />
                            <img src="/resources/assets/img/oweddings/horizontal/color-blanco.svg" alt="o-weddings-logo"
                                height="26px" width="70px" />
                        </picture>
                    </a>
                </li>
                <li class="header__navbar__login">
                    <a href="#login" class="btn btn__login">
                        Entrar
                        <i class="icon icon-exit"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <section class="header-wrap">
            <div class="header-wrap__title__container">
                <h1 class="header-title">Planea la mejor Boda</h1>
                <span class="header-wrap__subtitle">Llega a las parejas de hoy y reserva más bodas.</span>
            </div>
            <div class="header-wrap__register__container">
                <label class="header-wrap__register__label">¡Registrate!</label>
                <button class="btn btn--block btn__input">
                    Nombre*
                </button>
                <button class="btn  btn--block btn__register">
                    REGISTRARME
                </button>
            </div>
        </section>
        <section>
            <div class="header-wrap__subtitle">
                <h2 class="header-subtitle">El lugar ideal</h2>
                <p class="header-wrap__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Netus et malesuada fames ac turpis egestas integer. Augue ut lectus arcu
                    bibendum
                    at varius vel. Mauris vitae ultricies leo integer malesuada nunc vel risus. Sit amet aliquam id diam
                    maecenas ultricies. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit.
                    Aliquam ut porttitor leo a diam sollicitudin. Elementum pulvinar etiam non quam. At tellus at urna
                    condimentum. Morbi tincidunt ornare massa eget egestas purus. Erat pellentesque adipiscing commodo
                    elit
                    at imperdiet dui accumsan. Morbi quis commodo odio aenean sed adipiscing. At lectus urna duis
                    convallis
                    convallis. Nunc eget lorem dolor sed viverra ipsum. Parturient montes nascetur ridiculus mus mauris
                    vitae ultricies.
                </p>
            </div>
        </section>
    </header>
    <main>
        <section>
            <div class="card-slider">
                <div class="card__container">
                    <article class="card__item">
                        <!-- 
                        <header>
                            <h3 class="card-title">Card title</h3>
                        </header>
                        -->
                        <main>
                            <section class="card__item__content">
                                <a href="https://oasishoteles.com/es/hoteles/grand-oasis-cancun">
                                    <picture>
                                        <source
                                            srcset="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/portada-hoteles/goc_thumb.webp" />
                                        <img
                                            src="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/portada-hoteles/goc_thumb.webp" />
                                    </picture>
                                    <h4>GRAND OASIS CANCUN</h4>
                                    <span>Ver Hotel</span>
                                </a>
                            </section>
                        </main>
                        <!--
                        <footer>
                            <section class="card-action">
                                <a href="#">Learn more</a>
                            </section>
                        </footer>
                        -->
                    </article>
                    <article class="card__item">
                        <!-- 
                        <header>
                            <h3 class="card-title">Card title</h3>
                        </header>
                        -->
                        <main>
                            <section class="card__item__content">
                                <a href="https://oasishoteles.com/es/hoteles/grand-oasis-cancun">
                                    <picture>
                                        <source
                                            srcset="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/portada-hoteles/goc_thumb.webp" />
                                        <img
                                            src="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/portada-hoteles/goc_thumb.webp" />
                                    </picture>
                                    <h4>GRAND OASIS CANCUN</h4>
                                    <span>Ver Hotel</span>
                                </a>
                            </section>
                        </main>
                        <!--
                        <footer>
                            <section class="card-action">
                                <a href="#">Learn more</a>
                            </section>
                        </footer>
                        -->
                    </article>
                </div>
                <div class="card__arrow__container">
                    <span class="card__arrow__item icon icon-chevron-left"></span>
                    <span class="card__arrow__item icon icon-chevron-right"></span>
                </div>
            </div>
        </section>
        <section>
            <div>
                <picture>
                    <source srcset="/resources/assets/img/home/seo-home.webp" />
                    <img src="/resources/assets/img/home/seo-home.webp" />
                </picture>
                <h3>O WEDDINGS, LIVE, LOVE & REMEMBER</h3>
                <p>Un beso al atardecer, el mar turquesa como testigo del momento, el viento cálido en la piel y la
                    promesa de una nueva vida juntos... Déjanos ayudarte a crear ese momento irrepetible que recordarás
                    por siempre. Oasis Hotels & Resorts te presenta O Weddings, para que dejes en nuestras manos todo el
                    estrés de organizar tu boda y puedas saborear cada minuto de ese momento tan especial. Contamos con
                    espectaculares escenarios naturales, en los destinos de bodas más solicitados de México. Ponemos a
                    tu disposición un coordinador de bodas personal, quien se encargará de que todo luzca como siempre
                    has soñado. Conoce nuestros paquetes o configura tu ceremonia perfecta; deja que fluya el romance y
                    comencemos hoy mismo a planear tu boda en Cancún o la Riviera Maya... ¿Aceptas?
                </p>
            </div>
        </section>
        <section>
            <div>
                <h3><span>PAQUETES </span>DE BODA</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Netus et malesuada fames ac turpis egestas integer. Augue ut lectus arcu
                    bibendum at va</p>
            </div>
            <section class="card-slider">
                <div class="card__container">
                    <article class="card__item">
                        <!-- 
                        <header>
                            <h3 class="card-title">Card title</h3>
                        </header>
                        -->
                        <main>
                            <section class="card__item__content">
                                <a href="javascript:void(0);">
                                    <picture>
                                        <source srcset="/resources/assets/img/galeria-locaciones/7-thumb.webp" />
                                        <img src="/resources/assets/img/galeria-locaciones/7-thumb.webp" />
                                    </picture>
                                    <span>O CEREMONY</span>
                                    <span>6 invitados</span>
                                </a>
                            </section>
                        </main>
                        <!--
                        <footer>
                            <section class="card-action">
                                <a href="#">Learn more</a>
                            </section>
                        </footer>
                        -->
                    </article>
                    <article class="card__item">
                        <!-- 
                        <header>
                            <h3 class="card-title">Card title</h3>
                        </header>
                        -->
                        <main>
                            <section class="card__item__content">
                                <a href="javascript:void(0);">
                                    <picture>
                                        <source srcset="/resources/assets/img/galeria-locaciones/7-thumb.webp" />
                                        <img src="/resources/assets/img/galeria-locaciones/7-thumb.webp" />
                                    </picture>
                                    <span>O CEREMONY</span>
                                    <span>6 invitados</span>
                                </a>
                            </section>
                        </main>
                        <!--
                        <footer>
                            <section class="card-action">
                                <a href="#">Learn more</a>
                            </section>
                        </footer>
                        -->
                    </article>
                </div>
                <div class="card__arrow__container">
                    <span class="card__arrow__item icon icon-chevron-left"></span>
                    <span class="card__arrow__item icon icon-chevron-right"></span>
                </div>
            </section>
        </section>
        <section>
            <div>
                <h3>GALERÍA <span>WEDDINGS</span></h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Pellentesque habitant morbi tristique senectus et netus et malesuada.
                    Scelerisque.
                    In dictum non consectetur. Viverra ipsum nunc aliquet bibendum enim facilisis gravida. Eget lorem
                    dolor sed Viverra ipsum
                </p>
            </div>
            <div>
                <picture>
                    <source srcset="/resources/assets/img/home/galeria/1-thumb.webp" />
                    <img src="/resources/assets/img/home/galeria/1-thumb.webp" />
                </picture>
                <picture>
                    <source srcset="/resources/assets/img/home/galeria/2-thumb.webp" />
                    <img src="/resources/assets/img/home/galeria/2-thumb.webp" />
                </picture>
                <picture>
                    <source srcset="/resources/assets/img/home/galeria/3-thumb.webp" />
                    <img src="/resources/assets/img/home/galeria/3-thumb.webp" />
                </picture>
                <picture>
                    <source srcset="/resources/assets/img/home/galeria/3.webp" />
                    <img src="/resources/assets/img/home/galeria/3.webp" />
                </picture>
                <picture>
                    <source srcset="/resources/assets/img/home/galeria/cover-video.webp" />
                    <img src="/resources/assets/img/home/galeria/cover-video.webp" />
                </picture>
            </div>
        </section>
    </main>
    <footer>
        <picture>
            <source srcset="/resources/assets/img/oweddings/horizontal/color.svg" />
            <img src="/resources/assets/img/oweddings/horizontal/color.svg" alt="o-weddings-logo" height="26px"
                width="70px" />
        </picture>
        <nav class="navbar__footer">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        ¿Cómo funciona?
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        Paquetes
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        Preguntas frecuentes
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        Terminos y condiciones
                    </a>
                </li>
            </ul>
        </nav>
        <nav class="navbar__social-media">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <i class="icon icon-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="icon icon-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="icon icon-instagram"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
    <!-- your content here... -->
    <!-- <script src="js/scripts.js"></script> -->
</body>

</html>