<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Oasis Weddings</title>
    <meta name="description" content="Oasis Weddings Website" />
    <meta name="author" content="SitePoint" />

    <meta property="og:title" content="Oasis Weddings" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/" />
    <meta property="og:description" content="Oasis Weddings Website" />
    <meta property="og:image" content="image.png" />

    <!-- <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> -->

    <link rel="stylesheet" href="/public/styles/index.css" />
</head>

<body>
    <header class="header header--home">
        <nav class="header__navbar">
            <ul class="header__navbar__container">
                <li class="header__navbar__menu">
                    <button href="javascript:void(0);" onclick="myFunction()">
                        <i class="icon icon-menu"></i>
                    </button>
                </li>
                <li class="header__navbar__logo">
                    <a href="/">
                        <picture>
                            <source srcset="/resources/assets/img/oweddings/horizontal/color-blanco.svg" />
                            <img src="/resources/assets/img/oweddings/horizontal/color-blanco.svg" alt="o-weddings-logo"
                                height="26px" width="70px" />
                        </picture>
                    </a>
                </li>
                <li class="header__navbar__login">
                    <button href="#login" class="btn btn__login">
                        Entrar
                        <i class="icon icon-exit"></i>
                    </button>
                </li>
            </ul>
        </nav>
        <section class="header-wrap">
            <div class="header-wrap__title__container">
                <h1 class="header-title">Planea la mejor Boda</h1>
                <span class="header-wrap__subtitle">Llega a las parejas de hoy y reserva más bodas.</span>
            </div>
            <div class="header-wrap__register__container">
                <label class="header-wrap__register__label">¡Registrate!</label>
                <button class="btn btn--block btn__input">
                    Nombre*
                </button>
                <button class="btn  btn--block btn__register">
                    REGISTRARME
                </button>
            </div>
        </section>
        <section>
            <div class="header-wrap__subtitle">
                <h2 class="header-subtitle">El lugar ideal</h2>
                <p class="header-wrap__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Netus et malesuada fames ac turpis egestas integer. Augue ut lectus arcu
                    bibendum
                    at varius vel. Mauris vitae ultricies leo integer malesuada nunc vel risus. Sit amet aliquam id diam
                    maecenas ultricies. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit.
                    Aliquam ut porttitor leo a diam sollicitudin. Elementum pulvinar etiam non quam. At tellus at urna
                    condimentum. Morbi tincidunt ornare massa eget egestas purus. Erat pellentesque adipiscing commodo
                    elit
                    at imperdiet dui accumsan. Morbi quis commodo odio aenean sed adipiscing. At lectus urna duis
                    convallis
                    convallis. Nunc eget lorem dolor sed viverra ipsum. Parturient montes nascetur ridiculus mus mauris
                    vitae ultricies.
                </p>
            </div>
        </section>
    </header>
    <main class="content-wrap">
        <section class="section__wrap">
            <div class="slider">
                <div class="slider__card__container">
                    <article class="slider__card__item">
                        <!-- 
                        <header>
                            <h3 class="card-title">Card title</h3>
                        </header>
                        -->
                        <main>
                            <section class="slider__card__item__content">
                                <a class="slider__card__item__link"
                                    href="https://oasishoteles.com/es/hoteles/grand-oasis-cancun" target="_blank">

                                    <div class="slider__card__item__cover">
                                        <div class="slider__card__item__gradient"></div>
                                        <div class="slider__card__item__text-container">
                                            <h4 class="slider__card__item__title">GRAND OASIS CANCUN</h4>
                                            <span class="slider__card__item__view-more">Ver Hotel</span>
                                        </div>
                                    </div>
                                    <!-- <picture>
                                        <source
                                            srcset="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/portada-hoteles/goc_thumb.webp" />
                                        <img class="slider__card__item__image"
                                            src="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/portada-hoteles/goc_thumb.webp" />
                                    </picture> -->

                                </a>
                            </section>
                        </main>
                        <!--
                        <footer>
                            <section class="card-action">
                                <a href="#">Learn more</a>
                            </section>
                        </footer>
                        -->
                    </article>
                    <article class="slider__card__item">
                        <!-- 
                        <header>
                            <h3 class="card-title">Card title</h3>
                        </header>
                        -->
                        <main>
                            <section class="slider__card__item__content">
                                <a class="slider__card__item__link"
                                    href="https://oasishoteles.com/es/hoteles/grand-oasis-cancun" target="_blank">
                                    <div class="slider__card__item__cover">
                                        <div class="slider__card__item__gradient"></div>
                                        <div class="slider__card__item__text-container">
                                            <h4 class="slider__card__item__title">GRAND OASIS CANCUN</h4>
                                            <span class="slider__card__item__view-more">Ver Hotel</span>
                                        </div>
                                    </div>
                                    <!-- <picture>
                                        <source
                                            srcset="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/portada-hoteles/goc_thumb.webp" />
                                        <img class="slider__card__item__image"
                                            src="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/portada-hoteles/goc_thumb.webp" />
                                    </picture> -->
                                </a>
                            </section>
                        </main>
                        <!--
                        <footer>
                            <section class="card-action">
                                <a href="#">Learn more</a>
                            </section>
                        </footer>
                        -->
                    </article>
                </div>
                <div class="slider__arrow__container">
                    <span class="slider__arrow__item icon icon-chevron-left"></span>
                    <span class="slider__arrow__item icon icon-chevron-right"></span>
                </div>
            </div>
        </section>
        <section class="section__wrap">
            <div class="section__information">
                <picture class="section__information__image">
                    <source srcset="/resources/assets/img/home/seo-home.webp" />
                    <img src="/resources/assets/img/home/seo-home.webp" />
                </picture>
                <h3 class="section__title section-title">O WEDDINGS, LIVE, LOVE & REMEMBER</h3>
                <p class="section__description">Un beso al atardecer, el mar turquesa como testigo del momento, el
                    viento cálido en la piel y la
                    promesa de una nueva vida juntos... Déjanos ayudarte a crear ese momento irrepetible que recordarás
                    por siempre. Oasis Hotels & Resorts te presenta O Weddings, para que dejes en nuestras manos todo el
                    estrés de organizar tu boda y puedas saborear cada minuto de ese momento tan especial. Contamos con
                    espectaculares escenarios naturales, en los destinos de bodas más solicitados de México. Ponemos a
                    tu disposición un coordinador de bodas personal, quien se encargará de que todo luzca como siempre
                    has soñado. Conoce nuestros paquetes o configura tu ceremonia perfecta; deja que fluya el romance y
                    comencemos hoy mismo a planear tu boda en Cancún o la Riviera Maya... ¿Aceptas?
                </p>
            </div>
        </section>
        <section class="section__wrap">
            <div class="section__packages">
                <h3 class="section__title gallery__title section-title"><span>PAQUETES </span>DE BODA</h3>
                <p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore
                    et dolore magna aliqua. Netus et malesuada fames ac turpis egestas integer. Augue ut lectus arcu
                    bibendum at va</p>
            </div>
            <div class="slider">
                <div class="slider__card__container">
                    <article class="slider__card__item">
                        <!-- 
                        <header>
                            <h3 class="card-title">Card title</h3>
                        </header>
                        -->
                        <main>
                            <section class="slider__card__item__content">
                                <a class="slider__card__item__link" href="javascript:void(0);" target="_blank">
                                    <div class="slider__card__item__cover2">
                                        <div class="slider__card__item__gradient"></div>
                                        <div class="slider__card__item__text-container">
                                            <span class="slider__card__item__title">O CEREMONY</span>
                                            <span class="slider__card__item__view-more">6 invitados</span>
                                        </div>
                                    </div>
                                    <!-- <picture>
                                    <source
                                        srcset="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/portada-hoteles/goc_thumb.webp" />
                                    <img class="slider__card__item__image"
                                        src="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/portada-hoteles/goc_thumb.webp" />
                                </picture> -->
                                </a>
                            </section>
                        </main>
                        <!--
                        <footer>
                            <section class="card-action">
                                <a href="#">Learn more</a>
                            </section>
                        </footer>
                        -->
                    </article>
                    <article class="slider__card__item">
                        <!-- 
                        <header>
                            <h3 class="card-title">Card title</h3>
                        </header>
                        -->
                        <main>
                            <section class="slider__card__item__content">
                                <a class="slider__card__item__link" href="javascript:void(0);" target="_blank">
                                    <div class="slider__card__item__cover2">
                                        <div class="slider__card__item__gradient"></div>
                                        <div class="slider__card__item__text-container">
                                            <span class="slider__card__item__title">O CEREMONY</span>
                                            <span class="slider__card__item__view-more">6 invitados</span>
                                        </div>
                                    </div>
                                    <!-- <picture>
                                    <source
                                        srcset="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/portada-hoteles/goc_thumb.webp" />
                                    <img class="slider__card__item__image"
                                        src="https://spaceohrtest.sfo2.digitaloceanspaces.com/assets/img/home/portada-hoteles/goc_thumb.webp" />
                                </picture> -->
                                </a>
                            </section>
                        </main>
                        <!--
                        <footer>
                            <section class="card-action">
                                <a href="#">Learn more</a>
                            </section>
                        </footer>
                        -->
                    </article>
                </div>
                <div class="slider__arrow__container">
                    <span class="slider__arrow__item icon icon-chevron-left"></span>
                    <span class="slider__arrow__item icon icon-chevron-right"></span>
                </div>
            </div>
        </section>
        <section class="section__wrap">
            <div class="gallery__wrap">
                <div class="gallery__section">
                    <h3 class="gallery__title section-title">GALERÍA <span>WEDDINGS</span></h3>
                    <p class="gallery__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Pellentesque habitant morbi tristique senectus et netus et malesuada.
                        Scelerisque.
                        In dictum non consectetur. Viverra ipsum nunc aliquet bibendum enim facilisis gravida. Eget
                        lorem
                        dolor sed Viverra ipsum
                    </p>
                </div>
                <div class="gallery__container">
                    <picture class="img1">
                        <source srcset="/resources/assets/img/home/galeria/1-thumb.webp" />
                        <img class="gallery__container__image" src="/resources/assets/img/home/galeria/1-thumb.webp"
                            width="96px" height="166px" />
                    </picture>
                    <picture class="img2">
                        <source srcset="/resources/assets/img/home/galeria/2-thumb.webp" />
                        <img class="gallery__container__image" src="/resources/assets/img/home/galeria/2-thumb.webp"
                            width="56px" height="80px" />
                    </picture>
                    <picture class="img3">
                        <source srcset="/resources/assets/img/home/galeria/3-thumb.webp" />
                        <img class="gallery__container__image" src="/resources/assets/img/home/galeria/3-thumb.webp"
                            width="56px" height="80px" />
                    </picture>
                    <picture class="img4">
                        <source srcset="/resources/assets/img/home/galeria/3.webp" />
                        <img class="gallery__container__image" src="/resources/assets/img/home/galeria/3.webp"
                            width="116px" height="80px" />
                    </picture>
                    <picture class="img5">
                        <source srcset="/resources/assets/img/home/galeria/cover-video.webp" />
                        <img class="gallery__container__image" src="/resources/assets/img/home/galeria/cover-video.webp"
                            width="216px" height="144px" />
                    </picture>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer__container">
        <picture>
            <source srcset="/resources/assets/img/oweddings/horizontal/color.svg" />
            <img class="footer__logo" src="/resources/assets/img/oweddings/horizontal/color.svg" alt="o-weddings-logo"
                height="26px" width="70px" />
        </picture>
        <nav>
            <ul class="footer__navbar__pages">
                <li class="right-link">
                    <a href="javascript:void(0);">
                        ¿Cómo funciona?
                    </a>
                </li>
                <li class="left-link">
                    <a href="javascript:void(0);">
                        Paquetes
                    </a>
                </li>
                <li class="right-link">
                    <a href="javascript:void(0);">
                        Preguntas frecuentes
                    </a>
                </li>
                <li class="left-link">
                    <a href="javascript:void(0);">
                        Terminos y condiciones
                    </a>
                </li>
                <li class="oasishoteles-link">
                    <a href="javascript:void(0);">
                        oasishoteles.com
                    </a>
                </li>
            </ul>
        </nav>
        <nav>
            <ul class="footer__navbar__social-media">
                <li>
                    <a class="footer__navbar__social-media__item" href="javascript:void(0);">
                        <i class="icon icon-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="footer__navbar__social-media__item" href="javascript:void(0);">
                        <i class="icon icon-twitter"></i>
                    </a>
                </li>
                <li>
                    <a class="footer__navbar__social-media__item" href="javascript:void(0);">
                        <i class="icon icon-instagram"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
    <!-- your content here... -->
    <!-- <script src="js/scripts.js"></script> -->
</body>

</html>