<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Oasis Weddings</title>
    <meta name="description" content="Oasis Weddings Website" />
    <meta name="author" content="SitePoint" />

    <meta property="og:title" content="Oasis Weddings" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/" />
    <meta property="og:description" content="Oasis Weddings Website" />
    <meta property="og:image" content="image.png" />

    <!-- <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> -->

    <link rel="stylesheet" href="/public/styles/index.css" />
</head>

<body style="background:lightblue;">
    <header>
        <!-- 
        <nav class="header__navbar">
            <ul class="header__navbar__container navbar--fixed">
                <li class="header__navbar__menu">
                    <button href="javascript:void(0);" onclick="myFunction()">
                        <i class="icon icon-menu"></i>
                    </button>
                </li>
                <li class="header__navbar__logo">
                    <a href="/">
                        <picture>
                            <source srcset="/resources/assets/img/oweddings/horizontal/color.svg" />
                            <img src="/resources/assets/img/oweddings/horizontal/color-blanco.svg" alt="o-weddings-logo"
                                height="26px" width="70px" />
                        </picture>
                    </a>
                </li>
                <li>
                    <ul>
                        
                    </ul>
                </li>
                <li class="header__navbar__login">
                    <button href="#login" class="btn btn__login">
                        Entrar
                        <i class="icon icon-exit"></i>
                    </button>
                </li>
            </ul>
        </nav> -->
        <div class="header__navbar__container">
            <div class="row middle-xs">
                <div class="col-xs-3">
                    <div class="row middle-xs start-xs">
                        <div class="header__navbar__menu__container">
                            <div class="header__navbar__menu__item hidden--desktop">
                                <button class="btn btn__open" href="javascript:void(0);" onclick="myFunction()">
                                    <i class="icon icon-menu"></i>
                                </button>
                            </div>
                            <div class="header__navbar__menu__item">
                                <a href="/">
                                    <picture>
                                        <source srcset="/resources/assets/img/oweddings/horizontal/color.svg" />
                                        <img src="/resources/assets/img/oweddings/horizontal/color-blanco.svg"
                                            alt="o-weddings-logo" height="26px" width="70px" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-8">
                    <div class="row middle-xs end-xs">
                        <div class="header__navbar__link__window">
                            <div class="header__navbar__link__head">
                                <picture>
                                    <source srcset="/resources/assets/img/oweddings/horizontal/color-blanco.svg">
                                    <img src="/resources/assets/img/oweddings/horizontal/color-blanco.svg" width="88px"
                                        height="32px">
                                </picture>
                                <button class="btn btn__close icon icon-cross"></button>
                            </div>
                            <nav class="header__navbar__link__container">
                                <ul class="header__navbar__link__list">
                                    <li class="header__navbar__link__item__title">
                                        MENÚ
                                    </li>
                                    <li class="header__navbar__link__item">
                                        <a>
                                            LUGARES
                                        </a>
                                    </li>
                                    <li class="header__navbar__link__item">
                                        <a>
                                            PAQUETES
                                        </a>
                                    </li>
                                    <li class="header__navbar__link__item">
                                        <a>
                                            GALERÍA
                                        </a>
                                    </li>
                                    <li class="header__navbar__link__item">
                                        <a>
                                            ¿CÓMO FUNCIONA?
                                        </a>
                                    </li>
                                    <li class="header__navbar__link__item">
                                        <a>
                                            FAQS
                                        </a>
                                    </li>
                                    <li class="header__navbar__link__item">
                                        <a class="header__navbar__link__item__has-submenu">
                                            IDIOMA
                                        </a>
                                        <ul class="header__navbar__link__item__submenu">
                                            <li class="header__navbar__link__item__submenu__item">
                                                <a>Es</a>
                                            </li>
                                            <li class="header__navbar__link__item__submenu__item">
                                                <a>En</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="row middle-xs start-xs">
                        <div class="header__navbar__login__container">
                            <button class="btn btn__login" href="#login">
                                Entrar
                                <i class="icon icon-exit"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- your content here... -->
    <!-- <script src="js/scripts.js"></script> -->
</body>

</html>