<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Oasis Weddings</title>
    <meta name="description" content="Oasis Weddings Website" />
    <meta name="author" content="SitePoint" />

    <meta property="og:title" content="Oasis Weddings" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/" />
    <meta property="og:description" content="Oasis Weddings Website" />
    <meta property="og:image" content="image.png" />

    <!-- <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> -->

    <link rel="stylesheet" href="/public/styles/index.css" />
</head>

<body style="background:lightblue;">
    <header>
        <nav class="header__navbar">
            <ul class="header__navbar__container navbar--fixed">
                <li class="header__navbar__menu">
                    <button href="javascript:void(0);" onclick="myFunction()">
                        <i class="icon icon-menu"></i>
                    </button>
                </li>
                <li class="header__navbar__logo">
                    <a href="/">
                        <picture>
                            <source srcset="/resources/assets/img/oweddings/horizontal/color.svg" />
                            <img src="/resources/assets/img/oweddings/horizontal/color-blanco.svg" alt="o-weddings-logo"
                                height="26px" width="70px" />
                        </picture>
                    </a>
                </li>
                <li class="header__navbar__login">
                    <button href="#login" class="btn btn__login">
                        Entrar
                        <i class="icon icon-exit"></i>
                    </button>
                </li>
            </ul>
        </nav>
    </header>
    <!-- your content here... -->
    <!-- <script src="js/scripts.js"></script> -->
</body>

</html>