//  1. Posicionamiento --> static, absolute, relative, fixed
//  2. Modelo de caja (Box model) --> margin, border, padding, content
//  3. Tipografía --> tipos, tamaños de fuente, etc
//  4. Estilos visuales --> box-shadow, border-radius, gradient, etc
//  5. Otros --> reglas CSS y más

@import "sass-flexbox-grid-oasis/main.sass";

body{
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
.heading {
  &__main {
    // font-family: $font-primary;
    // font-weight: 600;
    // font-size: 34px;
    &--home {
      font: bold $heading-h1-size-sm $font-primary;
      color: $white;
      letter-spacing: 0;
      line-height: $base-lg * 5; // 40px
      @include media(">md") {
        font-size: $heading-h1-size-l;
      }
    }
    &--packages {
      color: $outer-space;
      font: $heading-h1-size-xs $font-secondary-3;
      letter-spacing: 0;
      line-height: $base-lg * 3; // 24px
      text-align: center;
    }
  }
  &__O {
    position: relative;
    transform: translateX($base-lg * 5); // 40px
    color: rgba($outer-space, $alpha-40p);
    font: bold $O_size-l $font-secondary-3;
    letter-spacing: 0;
    line-height: $base-lg * 5; // 40px
    text-align: center;
    @include media(">md") {
      transform: translateX($base-sm * 9); // 36px
    }
  }
  &__secondary {
    &--home {
      font: $heading-h1-size-sm $font-secondary-1;
      color: $white;
      letter-spacing: 0;
      line-height: $base-sm * 9; // 36px
      text-align: center;
      @include media(">md") {
        font-size: $heading-h1-size-l;
      }
    }
    &--packages {
      font: $heading-h2-size-xs $font-secondary-2;
      color: $nevada;
      letter-spacing: 0;
      line-height: $base-lg * 3; // 24px
      text-align: center;
    }
  }
  &__section {
    &-title {
      font: bold $heading-h2-size-sm $font-secondary-3;
      color: $outer-space;
      letter-spacing: 0;
      line-height: $base-lg * 3; // 24px
      @include media(">md") {
        font-size: $heading-h2-size-l;
        line-height: $base-lg * 6; //48px
      }
    }
    &-subtitle {
      font: $font-size-sm $font-secondary-2;
      color: $outer-space;
      letter-spacing: 0;
      line-height: $base-lg * 2;
      @include media(">md") {
        font-size: $heading-h2-size-xs;
      }
    }
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transform: translateX(-1 * ($base-lg * 3)); // -24px
    }
  }
}

// xs: 640px, sm: 768px, md: 1024px, lg: 1280px, xl:1400px
.wrapper {
  &__header {
    margin: 0 auto ($base-sm * 3) !important;
    @include media('>md'){
      margin: 0 auto ($base-lg * 3) !important;
    }
  }
  &__breadcrumbs{
    position: relative;
    margin: 0 !important
  }
  &__section {
    max-width: $bk-xs;
    margin: 0 auto ($base-lg * 7); // 0 auto 56px
    padding: 0 1.25em;
    //margin-bottom: 24px;
    //padding: 0px 24px;
    @include media(">sm") {
      max-width: $bk-sm;
    }
    @include media(">md") {
      max-width: $bk-md;
    }
    @include media(">lg") {
      max-width: $bk-lg;
    }
    @include media(">xl") {
      max-width: $bk-xl;
    }
    &--first {
      position: relative;
      padding: 0 1em;
      transform: translateY(-1 * ($base-lg * 4)); // -32px
      margin: 0 auto;
    }
    &--full{
      margin: 0 0;
      padding: 0 0;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    box-shadow: 0 -23px 34px 0 rgba(0, 0, 0, 0.2);
  }
}

.hidden {
  display: none !important;
}
