//:root
	// $bitcoin-orange: #f7931a
	// $soft-orange: #ffe9d5
	// $secondary-blue: #1a9af7
	// $soft-blue: #e7f5ff
	// $warm-black: #282623
	// $black: #201e1c
	// $grey: #bababa
	// $off-white: #faf8f7
	// $just-white: #fff
// Colors
$very-light-red: #FF7E7E;
$charleston-green: #2e2c2a;
$outer-space: #444444;
$black: #000000;
$white: #FFFFFF;
$nevada: #646E73;
// Fonts
$font-icons: "bodas-2023";
$font-beauty: "Beauty";
$font-roboto: "Roboto";
$font-jost: "Jost";
$font-times: "Times New Roman";
//// Font sizes
$font-size-base: 14px;
$font-size-lg: $font-size-base +  2px;
$font-size-sm: 12px;
$line-height-base: 1.5715;
$heading-color: $outer-space;
// Borders
$border-radius-base: 4px;
$border-radius-sm: 4px;
// Indexes
$index-front: 900;
$index-middle: 700;
$index-back: 100